<h1>Form</h1>
<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Title:</label>
  <input type="text" id="title" name="title"><%= @article.title %></input><br>
  <label>Content:</label>
  <input type="text" id="content" name="content"><%= @article.content %></input><br>
  <input type="submit" value="submit"></input>
  
</form>