<form action="/posts" method="POST">
  <label for="POST-name">Name:</label>
  <input id="name" type="text" name="post[name]">
   <br>
  <label for="POST-content">Content:</label>
  <input id="content" type="text" name="post[content]">
  <br>
  <button type="submit" value="submit">Submit!</button>
</form>
