<!DOCTYPE>
<html>
  <body>
    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <%= @post.name %> was deleted!
      <input type="submit" value="delete">
  </body>
</html>
</form>
