<!DOCTYPE>
<form action="/posts/<%= @post.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" ...>
    <h1>Edit your post here</h1>
    Post Name: <%= @post.name %>
    <input type="text" name="name" id="name">
    Content: <%= @post.content %>
    <input type="text" name="content" id="content">
  <button type='submit' value='submit'>Submit</button>
</form>
