<h2>Create A New Blog Post!</h2>
<form method="POST" action="/posts">
  <label for="name">Post Name: </label>
    <input id="name" type="text" name="name"></br>
  <label for="content">Post Content: </label>
    <input id="content" type="text" size=100 name="content"></br>
  <input type="submit" value="submit">
</form>