<!DOCTYPE html>
<html>
<head>
<title>New Blog</title>
</head>
<body>

<h1>New Blog</h1>
<form action="/posts" method="POST">
  <label>Post Name: <input type="text" name="post[name]" id="name"</label><br>
  <br>
  <label>Content: <textarea name="post[content]" id="content"></textarea><br>
    <br>
    <button type="submit" name="submit">submit</button>
</body>
</html>