<h1>Create a Blog Entry!</h1><br>
<form method="POST" action="/posts">
	<label for="name">Name: </label><input id="name" type="text" name="post[name]"><br>
	<label for="content">Content: </label><input id="content" type="text" name="post[content]"><br>
	<input type="submit" id="submit">
</form>
