<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <form action="/posts" method="post">
      Blog post name: <input type="text" name="name"><br>
      Blog post content: <input type="text" name="content"><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
