<!DOCTYPE html>
<html>
<head>
<title>Posts</title>
</head>
<body>

<h1>Post <%=@post_id%>: </h1>

<h2><%= @post.name %></h2><br>
<h5><%= @post.content %></h5>

<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>


</body>
</html>
