<h1>Here's your post!</h1>

<h2><%= @post.name %></h2>
<p><%= @post.content %></p>


<h3>Delete it?</h3>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
