<!DOCTYPE html>
<html>
  <head>
    <title>Delete - Sinatra ActiveRecord CRUD Lab</title>
  </head>
  
  <body>
    <h1>Welcome to the Sinatra ActiveRecord CRUD lab!</h1>
    <h2>You have successfully deleted the following blog post:</h2>
    
    <h3><%=@post.name%></h3>
    
    <p><%=@post.content%></p>
    
    <br>
    <h4>Return to <a href="/posts">Homepage</a></h4>
    
  </body>

</html>