<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/posts">All Posts</a>
      <h1><%= @post_to_delete.name %> was deleted</h1>
  </body>
</html>
