<!DOCTYPEhtml>
<html>
  <head>
    <title>A Blog</title>
  </head>

  <body>
    <h1>Your post has been deleted.</h1>
    <h2><%= @post.name %></h2>
    <h3><%= @post.content %></h3>
  </body>
</html>
