<h1>Delete</h1>
<form method="post" action= "/posts/<%=@post.id%>/delete">
<br>Delete post number <%=@post.id%>
<br>Post Name: <%= @post.name %>
<br>Post Content: <%= @post.content %>"
<input type="delete" value="delete"/>
</form>
