<!-- <form action="/posts/<%= @post.id %>" method= "post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="delete">Delete</button>
</form> -->
<h2><%= @post.name %> has been deleted!</h2>
