<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Delete</title>
  </head>
  <body>
    <h1>Deleted post:</h1><br>
    <h2>Post Title: <%= @post.name %></h2>
    <p>Post Content: <%= @post.content %></p>
  </body>
</html>
