<form action="/posts/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<label> Please input the ID of the post you would like to remove:</label>
<input type="text" name="id"><br>
<input type="submit" value="Remove Post">
</form>
