<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post Deleted</title>
  </head>
  <body>
    <h1>Post #<%=@post.id%> was successfully deleted!</h1>
    <p>Post Name: <%=@post.name%></p>
    <p>Post Content: <%=@post.content%></p>
  </body>
</html>
