<!DOCTYPE html>
<html>
<head>
  <title>Post Deleted</title>
</head>
<body>

<h1>Post:  <%= @post.name %> was deleted</h1>
<br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/posts">Return To Index Page</a>
</body>
</html>