<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>POSTS!</title>
  </head>
  <body>
    <h1>PostBook</h1>
    <h2>POST DELTED!!!</h2>

    <h3>Post: <%=@post.name%> was deleted</h3>
    <p><%=@post.content%> is gone forever</p>
  </body>
</html>
