<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Blog - Post Deleted</title>
  </head>
  <body>
    <%= @post.name %> was deleted!

    Back to <a href="/">Posts</a>
  </body>
</html>
