<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deleted Specific Post Page</title>
  </head>
  <body>
    <h1>Post deleted</h1>
    <form method="post" action="/models/<%= @post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
