<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Post Deleted</h1>
    <div class="container">
      <p><%= @post.name %> has been deleted.</p>
    </div>
  </body>
</html>
