<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Posts</h1> -->
    <p>Name:<br> <%= @post.name %></p>
    <p>Content:<br> <%= @post.content %></p>
    
  <!-- </body>
</html> -->