<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Title: <input type="text" value="<%=@post.name%>" name="name"></p></br>
  <p>Content: <input type="text" value="<%=@post.content%>" name="content"></p></br>
  <input type="submit" name="submit" value="submit" id="submit">
</form>
