<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Existing Article</title>
  </head>
  <body>
  
    <h1>Edit an existing article here!</h1>

    <form method="POST" action="/articles/<%= @article.id %>">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label for="title">Article title: </label><br>
      <input id="title" type="text" name="title" value="<%= @article.title %>"><br><br>
      <label for="content">Article content:</label><br>
      <textarea name="content" rows="5" cols="40"><%= @article.content %></textarea><br><br>
      <input id="submit" type="submit" value="Submit">
    </form>

  </body>
</html>