<h1>Edit Post</h1>
<h1><%=@post.name%></h1>
<p><%=@post.content%></p>

<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
<h2>    <label>Post Name: </label> <input id="name" name="name" type="text"></h2>
<h3>    <label>Post Content: </label>
    <textarea id="content" name="content"></textarea> </h3>
    <button type="submit" value="submit">Submit</button>
</form>
