<form action="/posts/<%= @post.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Update Information for Post <%= @post.id %>: <br>
    Name: <%= @post.name %> <br>
    Content: <%= @post.content%>
    </p>
    <p>Name: <input type="text" name="name"></p>    
    <p>Content: <input type="text" name="content"></p>   
    <input type="submit" value="submit">
</form>