<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  Title
  <input id="title" type="text" name="article[title]" value="<%= @article.title %>" />
    
  Content
  <textarea id="content" type="text" name="article[content]"  value="<%= @article.content %>">
      </textarea>
  
  <input id='submit' type='submit' value='Submit'>
</form>

