Current article:
<%= @article.title %>
<%= @article.content %>

<<form action="/articles/<%= @model.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Title: <input type="text" name="title">
    Content: <input type="text" name="title">
</form>