<form method="POST" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <div>
    <label for="post_name">Post Title:</label>
    <input type="text" id="post_name" name="name" value="<%=@post.name%>">
  </div>
  
  <div>
    <label for="post_content">Post Content:</label>
    <input type="text" id="post_content" name="content" value="<%=@post.content%>">
  </div>
  
  <input type="submit" id="submit" name="submit">
</form>