<form action="/posts/:id" method="post">

<input type="hidden" value="patch" name="_method">
<p>name<input type="text" value="<%= @post.name %>" name="name"></p>
<p>content<input type="text" value="<%= @post.content%>" name="content"></p>
<button type="button">submit</button>
</form>
