<form action="/posts/<%= @post.id %>" method="POST" accept-charset="utf-8">
  <input type="hidden" value="patch" name="_method" id="hidden"/>

  <p>Title: <%= @post.name %></p>
  <p>Content: <%= @post.content %></p>

  <p>Title: <input type="text" name="name" id="name"/></p>
  <p>Content: <input type="text" name="content" id="content"/></p>

  <input type="submit" name="Submit" id="submit"/>
</form>
