<h2>Edit the post</h2>
<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <label for="name">Title: </label>
  <input type="text" id="name" name="name" value="<%= @post.name %>">
  <br>

  <label for="content">Content: </label>
  <textarea id="content" name="content"><%= @post.content %></textarea>
  <br>

  <input type="submit" id="submit" value="Update">
</form>
