<h2>Edit <%= @post.name %></h2>
<p><%= @post.content %></p>
<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Edit Name: </label>
  <input type="text" id="name" name="name">

  <label for="content">Edit Content: </label>
  <input type="text" id="content" name="content">

  <input type="submit" id="submit" value="Post">

</form>
