<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Post Name Edit: <input type="text" name="name" id="name" value="<%= @post.name %>">
  Post Content Edit: <input type="text" name="content" id="content" value="<%= @post.content %>">
  <input type="submit" id="submit">
</form>
