<form action="/posts/<%= @post.id %>" method="post">
    <input type="text" value="<%=@post.name%>" id= "name">
    <input type="text" value="<%=@post.content%>" id= "content">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>
    <input type="submit" id="submit">
</form>