<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your BlogPost</title>
  </head>
  <h1>Edit Your Blog Post here:</h1>
  
  <form method="post" action="/posts/<%=@post.id%>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label for="name">Name: </label>
    <input id="name" type="text" name="name" value="<%= @post.name %>"><br>
    
    <label for="content">Content: </label>
    <input id="content" type="text" name="content" value="<%=@post.content%>"><br>
    <input type="submit" id="submit" value="submit">
  </form>
</html>
