<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action='/posts/<%= @post.id %>' method="post">
      <h2><%= @post.name %></h2>
      <h2><%= @post.content %></h2>

      <input id="hidden" type="hidden" name="_method" value="patch">
        New Tittle: <input type="text" name="name"><br>
        New Content: <input type="text" name="content"><br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
