<h2>Update your post!</h2>

<form method="POST" action="/posts/<%=@post.id%>"> #set :id to @post.id
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="post_name">Update Name:</label><br>
  <input id="post_name" type="text" value="<%=@post.name%>" name="name"><br>
  <label for="post_content">Update Content:</label><br>
  <input id="post_content" type="text" value="<%=@post.content%>" name="content"><br>
  <br>
  <input type="submit" value="submit">
</form>
