

<form action ="/posts/<%= @post.id %>" method = "POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
     <%= @post.name %><input type="text" id="name" name="name" /><br>
    <%= @post.content %> <input type="text" id="content" name="content" />
     <input type="submit" id="submit" name="submit" />
</form>
