<form action="articles/<% article.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<label for="title">Title</label><br>
<input type="text" name="[article]title" id="title" value="<%= article.title %>"><br><br>

<label for="content">Content</label><br>
<textarea name="[article]content" type="text" id="content" value="<%= article.content %>">
</textarea><br><br>

<input type="submit">

</form>
