<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

<label for="name"><%= @post.name %>:</label>
  <input id="name" type="text" name="name"></input>

<label for="content"><%= @post.content %>:</label>
  <input id="content" type="text" name="content"></input>

  <input id="submit" type="submit">
</form>
