<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Edit your post</h1>
    <form action="/posts/<%= @post.id %>"
          method="post">
        <input  id="hidden"
                type="hidden"
                name="_method"
                value="patch">

        <label for="name">Name:</label> </br>
      	<input  id="name"
                name="name"
                type="text"
                value="<%= @post.name %>" /> </br>

      	<label for="content">Content:</label> </br>
        <input  id="content"
                name="content"
                type="text"
                value="<%= @post.content %>" /> </br>

        <button type="submit" value="submit">Save</button>

    </form>
  </body>
</html>
