<h1>Edit Blog Post</h1>
  <form method="POST" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name" id="<%=@post.name%>">
  Content: <input type="text" name="content" id="<%=@post.content%>">
  <input type="submit" value="submit">
  </form>