<form action="/posts/<%= @post.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="post_name">Name:</label>
    <input id="post_name" type="text" value="<%= @post.name %>" name="name">
  <label for="post_content">Content:</label>
    <input id="post_content" type="text" value="<%= @post.content %>" name="content">
  <input type="submit" value="submit">
</form>
