<form class="" action="/articles/<%= @article.id %>" method="post">

  <h1><%=@article.title%></h1>
  <h1><%=@article.content%></h1>
  <h1><%=@article.id%></h1>

  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="title" value="title">
  <input type="text" name="content" value="content">
  <input type="submit" name="submit" id="submit" value="submit">

</form>
