<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
</head>
  <body>
    <form action="/posts/<%= @post.id %>" method="post">
      <label for="name" type="text">Change name here:</label>
      <input type="text" name="name">
      <label for="content" type="text">Change content here:</label>
      <input type="text" name="content">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" ...>
    </form>
  </body>
</html>
