<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Post: <%= @post.name %></title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <form action="/posts/<%= @post.id %>" method="post" id="edit_post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for="name">Title:</label><br><input type="text" name="name" value="<%= @post.name %>"><br>
      <label for="content">Body:</label><br><textarea name="content" rows="8" cols="80" form="edit_post"><%= @post.content %></textarea><br>
      <input type="submit" title="submit"><br>
    </form>
  </body>
</html>
