<form action="/posts/<%= @posts.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
Name: <input type="text" name="name" value="<%=@posts.name %>">
Content: <input type="text" name="content" value="<%=@posts.content%>">
<input type="submit" name="submit" id="submit">
</form>
