<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Update A Blog Post</title>
  </head>
  <body>
    <h1>Update A Blog Post</h1>

	 <form action="/posts/<%= @post_id %>" method="post">
	    <input id="hidden" type="hidden" name="_method" value="patch">
	    Blog Name: <input type="text" name="name"><br><br>
	  	Blog Content: <input type="text" name="content"><br><br>
	  	<input type="submit" value="submit">
	</form>

  </body>
</html>
