<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Update <%= "#{@post.name}" %></title>
 </head>
 <body>

  <form action="/posts/<%= @post.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">

      Name: <br><input id="name" type="text" name="name" size="75" ></input><br><br>

      Content: <br><textarea  id="content" type="text" name="content" rows="25" cols="75"></textarea><br>
      <input type="submit" value="submit">
  </form>

 </body>
</html>
