<form action="/posts/<%= @post.id %>" method="post">
  <div>
    <label for="name">Post name:</label>
    <input type="text" name="name" id="name" value=<%= @post.name %>>
  </div>
  <div>
    <label for="content">Post content:</label>
    <input type="text" name="content" id="content" value=<%= @post.content%>>
  </div>
  <input name="submit" type="submit" id="submit">
  <input id="hidden" type="hidden" name="_method" value="patch">
</form>
