<!DOCTYPE html>
<html>

<h1> Update your blog post: </h1>
  <form action="/posts/:id" method="patch">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <!--Remember to add the use Rack::MethodOverride to your config.ru file so that your app will know how to handle patch and delete requests!-->
  </form>

</html>
