<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts/<%= @post.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      Previous title: <%= @post.name %>
      Name: <input type="text" name = "name">
      Previous content: <%= @post.content %>
      Content: <input type="text" name="content" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
