<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Blog Post</title>
  </head>
  <body>
    <h2>Edit Your Post</h2>
    <p>Current Blog Name: <%= @post_edit.name %></p>
    <p>Current Blog Content: <%= @post_edit.content %></p>
    <form action="/posts/<%= @post_edit.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p>New Blog Name: <input type="text" name="name"></p>
      <p>New Blog Content: <input type="text" name="content"></p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
