
<form action="/posts/<%= @post.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h1>Edit post here</h1>
        Blog Name: <%= @post.name %>
        <input type="text" name="name" id="name">
        Content: <%= @post.content %>
        <input type="text" name="content" id="content">
        <button type='submit' value='submit'>Submit</button>
</form>