<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Post</title>
  </head>

  <body>

    <form method="POST" action="/posts/<%= @post.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>New Post Title: </h3><input type="text" name="name" value="<%= @post.name %>">
      <h3>New Post Content: </h3><input type="text" name="content" value="<%= @post.content %>">

      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
