<h1>Article's Title: <%= @article.title %></h1>
<h1>Content: <%= @article.content %></h1>
<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Article's New Title: <input type="text" id="title" name="new_title"><br>
    New Content: <input type="text" id="content" name="new_content"><br>
    <input type="submit" value="submit">
</form>