<form method="POST" action="/posts/<%=@post.id%>">
  Blog Title: <input type="text" value="<%=@post.name%>" name="name">
  Content: <input type="text" value="<%=@post.content%>" name="content">
  Submit<button type="submit" value="submit"></button>
</form>