<%# This view should contain a form to update a specific blog post and POSTs to a controller action, patch '/posts/:id'. %>
<h1>Update Blog Post</h1>
<form action='/posts/<%=@post.id%>' method="POST">
    <label>Name: </label><input type="text" value="<%=@post.name%>" name="name"/><br>
    <label>Content: </label><input type="text" value="<%=@post.content%>" name="content"/><br>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p><input type="submit" id="submit" content="submit"></p>
</form>
