<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Post</title>
  </head>
  <body>
    <h1>Update Post</h1>
    <form action="/posts/<%= @post.id %>" method="POST">
      <label for="">Post Name</label>
      <input type="text" placeholder="<%= @post.name %>" name="name"><br>
      <label for="">Post Content</label>
      <input type="text" placeholder="<%= @post.content %>" name="content"><br><br>
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="submit" id="submit">
    </form>
  </body>
</html>
