<h1>Edit an article</h1>
<form method="POST" action="/articles/<%= @article[:id] %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>
    <label for="title">Article title: </label>
    <input type-"text" id="title" name="title" value="<%= @article[:title] %>">
    <br>
    <label for="content">Content: </label>
    <textarea id="content" name="content"><%= @article[:content] %></textarea>
  </p>
  <input type="submit" id="submit" name="submit">
</form>
