
<h1>Edit Article</h1>

<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="article_title">Article title:
  </label>
    <input id="article_title" type="text" name="article[title]" value="<%= @article.title %>">

  <label for="article_content">Article content:
  </label>
    <input id="article_content" type="text" name="article[content]" value="<%= @article.content %>">

    <input type="submit" value="submit">

</form>
