<h1>Edit <%= @post.name %></h1>

<form action="/posts/<%= @post.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">

  <p>post name:</p>
    <input type="text" name="name" value="<%= @post.name %>">

  <p>content:</p>
    <textarea name="content"><%= @post.content %></textarea>
    <br>
  <input type="submit" name="submit" value="submit">
</form>
