<form action="/posts/<%=@post.id%>" method='post'>

<input type="hidden" value="patch" name="_method" id="hidden">

Name: <input type="text" name="name" id="name" value="<%=@post.name%>"><br>
Content: <input type="text" name="content" id="content" value="<%=@post.content%>"><br>


Submit: <input type="submit" value="submit"><br>
</form>
