<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit your post:</h1>
    <form class="" action="/articles/<%= @article.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <p>
        Name: <input type="text" name="name" value="<%= @article.title %>">
      </p>
      <p>
        Content: <input type="text" name="content" value="<%= @article.content %>">
      </p>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
