<form action="/posts/<%= @post.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Post current name:</label>
    <h1><%= @post.name %></h1>
    <label>Post current content:</label>
    <h2><%= @post.content %></h2>
    <p><label>Edit name here:</label>
    <input type="text" name="name"></input></p>
    <p><label>Edit content here:</label>
    <input type="text" name="content"></input></p>
    <p><button type='submit' value='submit'>submit</button></p>
</form>
