 <form action="/articles/<%= @article.id %>" method="POST">
   <p>Update title: <input type="text" id="title" name="title" value="<%= @article.title %>"></p>
   <p>Update content: <input type="text" id="content" name="content" value="<%= @article.content %>"></p>
   <input type="submit">
</form>