<h1>Edit a Blog Post</h1>

<form action="/posts/<%= @post.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">
<p><label id="name">Name:</label> <input type="text" name="name" value=<%= @post.name %>></p>
<p><label id="content">Content:</label> <textarea name="content"><%= @post.content %></textarea></p>
<input type="submit" value="Edit Post" id="submit">
</form>