<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <form method="post" action="/update">
    <p>Edit Your Blog Post:
      <% @post.each do |info|%>
        <p><%= info.name %></p>
        <p><%= info.content %></p>
      <% end %>
    <input name="_method" id="hidden" type="hidden" value="patch">
    <p><input type="text" name="name"></p>
    <p><input type="text" name="content"></p>
    <a href="/update"><input type="submit" name="submit" id="submit" value="submit"></a>
    <a href="/posts/:id/delete"><input type="button" name="delete" id="delete" value="delete"></a>
  </form>
</body>
</html>
