<form action="/posts/<%=@post.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" name="name" value="<%=@post.name%>"></p>
  <p>Content: <textarea name="content"><%=@post.content%></textarea></p>
  <p><input type="submit" value="submit"></p>
</form>