<form action="/posts/<%= @post.id %>" method="post">

  Post Name: <input type="text" value="<%=@post.name%>" name="name">
  Post Content: <input type="text" value="<%=@post.content%>" name="content">

  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="submit">
</form>
