<form method="POST" action="/posts/<%= @post.id %>">
  
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input name="name" type="text" value="<%= @post.name %>">
  <input name="content" type="text" value="<%= @post.content %>">
  <input id="submit" type="submit" value="Submit">
  
</form>