<%= @post.name %>
<%= @post.content %>

<form action="/posts/<%= @post.id %>" method="post" >
  <p>Make Changes:</p>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name" />
    <input type="text" name="content"/>
    <input type="submit" value="submit"/>
</form>
