<!DOCTYPE html>
<html>
  <head>
    <title>Article Form</title>
  </head>

  <body>
    <form method="post" action="/articles/<%= @article.id %>">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label for="title">Updated Title:</label>
      <input type="text" id="title" name="article[title]" value="<%= @article.title %>">
      <label for="content">Updated Content:</label>
      <input type="text" id="content" name="article[content]" value="<%= @article.content %>">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
