<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra ActiveRecord CRUD Lab</title>
  </head>
  
  <body>
    <h1>Welcome to the Sinatra ActiveRecord CRUD lab!</h1> 
    
    <nav>
      <p>Let's get this party started by navigating to one of our pages:</p>
      <ol>
        <li><a href="/posts/new">Create a blog post</a></li>
        <br>
        <li><a href="/posts">See all blog posts</a></li>
      </ol>
    </nav>
    
  </body>

</html>