<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <% @posts.each.with_index(1) do |post, i| %>
      <p><%= "#{i}. #{post.name} - #{post.content}" %></p>
    <% end %>
  </body>
</html>
