<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinatra ActiveRecord CRUD</title>
</head>
<body>

<h1>blog blog blog blog blog</h1>

<% @posts.each do |post| %>
  <h1><%= post.name %> </h1>
  <p><%= post.content %></p>
  <% end %>
  
</body>
</html>