<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @posts.each_with_index do |post, index| %>
      Post No.<%= index + 1 %>
      <%= post.name %>
      <%= post.content %>
    <%end%>
  </body>
</html>
