<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h1>Blog Posts</h1>

      <% @posts.collect do |post| %>
      <%= post.name %><br>
      <%= post.content %>
      <%end%>

  </body>

</html>
