<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Index</title>
  </head>
  <body>
    <h3>Blog Posts</h3>
    <% @posts.each do |post| %>
    <h4><%= post.name %></h4>
    <p><%= post.content %></p>
    <% end %>
  </body>
</html>