<h1>WELCOME TO THE BLOGOSPHERE</h1>
<form>
  <button method='GET' action='/posts/new'>CREATE</button>
  <p>Create a new post here</p>
</form>
<form>
  <button method='GET' action='/posts'>READ</button>
  <p>See the list of posts</p>
</form>
<form>
  <button method='GET' action='/posts'>READ</button>
  <p>See the list of posts</p>
</form>
