<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
  </head>
  <body>
    <% @posts.each do |post| %>
    <h1>Post name: <%= post.name %></h1>
    <h2>Post content: <%= post.content %></h2>
    <% end %>
    <br/>
    <%= @posts.length %>
  </body>
</html>
