<html>
  <header> Index</header>
  <body>
    <h1>Index Page </h1>
    
    <% @posts.each do |post|%>
       <p><%=  post.name %></p>
       <p><%=  post.content %></p>
       <% end %>
    
  </body>
  
</html>