<!DOCTYPE html>
  <head>
    <title>Blog Posts</title>
  </head>
  <body>
    
<% @posts.all.each do |post| %>
  <ul>
    <li><%= post.name %></li>
    <li><%= post.content %></li>
  </ul>
<% end %>

</body>
</html>
