<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Sinatra CRUD</title>
   </head>
   <body>
      <h1>All the posts!</h1>
      <%@posts.each do |post|%>
         <p>
            <label><%=post.name%>
               -
            </label><%=post.content%></p>
      <%end%>
   </body>
</html>
