<!DOCTYPE html>
<html>
  <head>
    <title>The Post</title>
  </head>

  <body>
    <h1> Your Posts </h1>

    <% @posts.each do |post_info|%>
    <p>Post Name: <%= post_info.name %></p>
    <p>Post Content: <%= post_info.content %></p>
    <% end %>

  </body>
</html>
