<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Show All blog Posts</title>
 </head>
 <body>
  <h1>Blog Posts</h1>

  <% @posts.each do |post| %>
    <div class="post">
      <h3>Blog Name: <%= post.name %></h3>
      <h4>Blog Content: <%= post.content %></h4><br>
    </div>
  <% end %>

 </body>
</html>
