<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>All Articles</title>
  </head>
  <body>

    <h1>All Articles</h1>

    <% @articles.each do |article| %>
      <%= puts "#{article}" %>
    <% end %>
    
  </body>
</html>