<!DOCTYPE html>
<html>
<head>
  <title>Blog Psts</title>
</head>
<body>
  <h1>Sophia's Blog Posts</h1>

  <% @posts.each do |post| %>
    <ul>
      <ol><%= post.name %></ol>
      <ol><%= post.content %></ol>
    </ul>
  <% end %> 
  
</body>
</html>