<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <p>Blog Post Name: </p>
    <% @all.each do |article|%>
    <% end %>


    <p>Blog Post Content: </p>
    <a href="/posts"><input type="submit" name="submit" id="submit" value="submit"></a>
</body>
</html>
