<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <body>-->
<!--    <h1>Posts</h1>-->
   <% @post.each do |post| %>
    <%= post.name %>
    <%= post.content %>
<% end %> 
   
<!--  </body>-->
<!--</html>-->