<!DOCTYPE html>
<html>
	<head>
		<title>Posts</title>
	</head>
	<body>
    <h1>Posts</h1>
    <ol>
    <% @posts.each do |post| %>
      <li><a href="/posts/<%= post.id %>/edit"><%= post.name %></a></li>
    <% end %>
    </ol>
    <p><a href="/posts/new">New Post</a></p>
	</body>
</html>
