<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    <h1>Blog Posts</h1>
    <%Blog_posts = @posts.collect do |post| %>
  <p>Post Title: <%=post.name %><br>
    Post Content: <%=post.content %><br>
    <%end%></p>
  </body>
</html>
