<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog Posts</title>
  </head>
  <body>
    <h1>Some Blog Posts</h1>
    <% @posts.each do |post| %>
      <h6><%= post.name %></h6>
      <p><%= post.content %></p>
    <% end %>

  </body>
</html>
