<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <%@posts.each do |post|%>
    <p>Name: <%=post.name%></p>
    <p>Content: <%=post.content%></p>
    <%end%>
  </body>
</html>
