<h1>Blog Posts</h1>

<% @all_posts.each do |post| %>
	<h3>Title: <%= post.name %></h3>
	<p><%= post.content %></p>
	<form method="post" action="/posts/<%=post.id%>/delete">
		<input id="hidden" type="hidden" name="_method" value="delete">
 	  	<input type="submit" value="delete">
	</form>
<% end %>