<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUDing</title>
  </head>
  <body>
    
    <h1>CRUDing</h1>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
