<!DOCTYPE html>
<html>
<head>
  <title> My Posts </title>
</head>

<body>
  <p> <a href="/posts">Back to all Posts </a> </p>
  <p> <a href="/posts/new">Create New Post </a> </p>

  <%=yield%>
</body>





</html>
