<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title></title>
  </head>
  <body>
    
    <h1>Hello!</h1>
    <h2>Welcome to Articles</h2>
    
    <div>
      <ul>
        <li>
          <a href="/articles/new">
            <button type="button">Create New</button>
          </a>
        </li>
        <li>
          <a href="/articles">
            <button type="button">See Articles</button>
          </a>
        </li>
      </ul>
    </div>
    <!-- <form action='/articles/id' method="GET">
      <input type="text" name="id">
      <input type="submit" value="Find">
    </form> -->

  </body>
</html>
