<h1>Create a new article!</h1>

<form action="/articles" method="post">
  <p><label for="title">Title: </label><input id="title" type="text" name="title"></p>

  <textarea id="content" type="text" name="content" rows="8" cols="80" placeholder="Type your article content here..."></textarea>

  <input id="submit" type="submit" value="Submit">
</form>
