<!DOCTYPE html>
<html>
<body>
  <h1>Blog Posts</h1>
  <form method="post" action="/posts">
    <label for="name">Post Name:</label>
    <input type="text" id="name" name="name"><br>
    <label for="content">Post Content:</label>
    <input type="text" id="content" name="content"><br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
