<h1>Create a Blog Post</h1>

<form action='/posts' method="POST">

  <p>
    <label>Post Name</label>
    <input type="text" name="name" >
    <br>
    <label>Post Content</label>
    <input type="text" name="content" >
  </p>

  <button type="submit" value="submit">Submit</button>
</form>
