<form action="/posts" method="POST">
  <p>Blog Title: <input type="text" name="name"></p>
  <p>Blog Content: <input type="text" name="content"></p>
  <button name="submit" value="submit">Submit</button>
</form>
