<form method="post" action="/posts">

<label for="">Title:</label>
  <input type ='text' name='post_name' id='name' />
<br />
  <label for="">Content:</label>
    <input type ='text' name='post_content' id='content' />

    <input type="submit" name='submit' id='submit' />
</form>
