<form action="/posts" method="post">
  <h1>CREATE A NEW BLOG POST:</h1>
  <h2>TITLE: <input type="text" name="name" id="name"></h2>
  <h2>CONTENT <input type="text" name="content" id="content"></h2>
  <input type="submit" name="submit" id="submit">
</form>
