<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/posts" method="post">

      <label for="name">Post Name:</label>
      <input type="text" name="name" />
      
      <label for="content">Post Body:</label>
      <input type="text" name="content" />
      <input type="submit" id="submit" />

    </form>

  </body>
</html>
