<form class="" action="/posts" method="post">
  <h2>Post Name: <input type="text" name="name" value=""></h2><br>
  <h2>Post Content: <input type="text" name="content" value=""></h2><br>
  <input type="submit" name="" value="submit">
</form>
