<form action="/posts" method="post">
<h1>Name: <input id="name" type="text" name="name"></h1>
<h2>Content: <input id="content" type="text" name="content"></h2>
<h2><input type="submit" name="submit" value="submit"></h2>

</form>
