<!DOCTYPE html>
<html>
<header>
  <title>New Blog Post</title>
</header>

<body>
  <form method="POST" action="/posts">
    <h1>Blog Name</h1>
    <input type="text" id="name" name="name">

    <br>
    <h2>Blog Content</h2>
    <input type="text" id="content" name="content">

    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>

</html>
