<form action="/posts" method="post">
    <p>Title: <input type="text" name="name"></p>
    <p>Content: <textarea type="text" name="content"></textarea></p>
    
    <input type="submit" value="submit">
</form>