


<form action="/posts" method="post">

  <h2>Your Post Title: <input type="text" name="name"></h2>
  <h2>Your Post Content: <input type="text" name="content"></h2>

<input type="submit" id="submit">
</form>
