<form action="/posts" method="POST">
    <input type="text" name="posts[name]" id="name"/>
    <textarea name="posts[content]" id="content" rows="4" cols="50"></textarea>
    <input type="submit" id="submit" />
</form>