<h1>Create a new blog post:<h2>
  <form action="/posts" method="post">
    <p>Name:<input type="text" name="name"></p>
    <p>Content:<textarea name="content"></p>
      <input type="submit" value="submit">
  </form>
