<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="post">
    Name: <input id="name_1" type="text" name="name">
    Content: <input id="name_2" type="text" name="content">
    <button type="submit" value="Submit"></button>
  </form>

</body>
</html>
