<h1>Create a new Post!</h1>
<form method="POST" action="/posts">
  <input type="text" name="name" value="My Post"><br>
  <input type="text" name="content" value="Hi! My name is Alex!"><br>
  <input type="submit" name="submit" id="submit">
</form>
