<h1>New Post!</h1>

<form action="/posts" method="POST">

  <label for="name">Name: </label>
  <input type="text" name="name"><br>

  <label for="content">Content: </label>
  <input type="type" name="content"><br>
  <input type="submit" title="submit">

</form>
