<h1>Create a New Post</h1>
  <form method="POST" action="/posts">
    Post Name: <input type='text' name='name'>
    Content: <input type='text' name='content'>
    <br>
    <input type="submit" id="Submit" value="submit">
  </form>
