<form class="" action="/posts" method="post">
  <h3>Blog Post Name</h3>
  <input type="text" name="name" value="">
  <br>
  <h3>Content</h3>
  <textarea name="content" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" name="submit" value="Submit" id="submit">
</form>
