<h1>New post</h1>
<form action="/posts" method="POST">
  <input type="text" placeholder="Name" name="name"/>
  <br />
  <textarea placeholder="Content" rows="10" cols="30" name="content" /></textarea>
  <br />
  <input type="submit" id="submit"/>
</form>
