<!DOCTYPE html>
<html>

  <body>
    <h2> My Blog Post Applications </h2>

    <form method="POST" action="/posts">

      <label>Blog Name: </label>
      <input type="text" id="name" name="post[name]" /><br/>
      <label>Blog Content: </label>
      <input type="text" id="content" name="post[content]" /><br/>



       <input type="submit" value="submit" />

    </form>

  </body>
</html>
