<!-- <!DOCTYPE html> -->
<!-- <html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body> -->
  <h1>Vanlife Blog</h1>
  <form action="/posts" method="create">
    <h3>New Blog Post Name: <input id="post" type="text" name="post"></h3><br>
    <h3>New Blog Post Content: <input id="post" type="text" name="post"></h3><br>

    <button type="submit" value="submit">Submit</button>
  </form>
  <!-- </body>
</html> -->
