<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a New Post!</title>
  </head>
  <body>
    <h1>Write your new post below!</h1>
    <form action="/posts" method="post">
      <p>Title: <input type="text" name="name"></p>
      <p>Post: <input type="text" name="content"></p>
      <p>
        <input type="submit" value="submit">
      </p>
    </form>
  </body>
</html>
