<h1>Build your Blog Post</h1>

<form method="post" action="/posts">
  <fieldset>
    <legend>New Blog Post</legend>
    
    <p>Blog Title:
      <input type="text" name="name" />
    </p>

    <p>Blog Content:
      <input type="text" name="content" />
    </p>

    <button type="submit">submit</button>
  </fieldset>
</form>
