<form action="/articles" method="POST">

<label>Article title: <input type="text" name="title"></label>
<label>Article content: <input type="text" name="content"></label>

<input type="submit" value="Submit">

</form>