<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/posts" method="post">

    <textarea name="name"></textarea><br>
    <textarea name="content"></textarea><br>

    <button type="submit" value="submit">Submit</button>


  </form>
</body>
</html>