<!DOCTYPEhtml>
<html>
  <head>
    <title>A Blog</title>
  </head>

  <body>
    <form method="post" action="/posts">
      <h1><label for="name">Title:</label> <input type="text" name="name" id="name"></h1>
      <h3><label for="content">Content:</label> <input type="text" name="content" id="content"></h3>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
