<form action="/posts" method="post">
  <h4>Create a new blog post!</h4>
  <p>Name: <input type="text" name="name" ></p>
  <p>Content: <input type="text" name="content" ></p>
  <input type="submit" name="" value="submit">
</form>
