<!DOCTYPE html>
<html>
<head>
  <title>New Post</title>
</head>
<body>
  <form method="POST" action="/posts">
    <h1>Tell us about your post:</h1>
    <p>Name: <input type="text" name="name"></p>
    <p>Content: <textarea name="content"></textarea></p>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
