<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/posts" method="post">
    <label for="name">Enter Name:</label>
    <input type="text" name="name">
    <br>
    <label for="content">Enter Content:</label>
    <input type="text" name="content">
    <br>
    <input type="submit" id="submit" value="submit">
  </form>
</body>
</html>