<form method="post" action="/posts"/>
  Name:<input type="text" id="name" name="name"><br>
  Content:<input type="text" id="content" name="content"></input><br>
  <button type="submit" value="submit">Submit</button>
</form>
