<form action = '/posts' method = "POST">

  <p>Enter a blog post name: <input type ="text"  name="name"></p>
  <p>Enter blog content:  <input type ="text" name="content"></p>
    <input type = "submit" value = "submit">
</form>
