<h2>Express yourself!</h2>
<h3>Create your new blog post here:</h3>
<form action='/posts' method='POST'>
<label for="name">Post Name:</label>
<p><input type="text" id="name" name="name" /></p>
<label for="content">Post Content:</label>
<p><textarea name="content" rows="10" cols="30">Enter content here</textarea></p>
<input type="submit" value="Submit" id="submit" />
</form>
