<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="post">
    Name: <input type="text" name="posts[name]">
    Content: <input type="text" name="posts[content]">

    <input type="submit">
  </form>

</body>
</html>
