<html>
  <head>
    <title>Active Record CRUD</title>
  </head>
  <body>
    <h1>Createa a New Post</h1>
    <form action='/posts' method='post'>
    <p><label>Post Name: </label><input type='text' id='name' name='posts[name]'></p>
    <p><label>Post Content: </label><br /><textarea id='content' name='posts[content]'></textarea></p>
    <input type='submit' id='submit' name='sumbit'>  
    </form>
  </body>
</html>
