<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Blog</title>
 </head>
 <body>

  <h1>My Blog</h1>

  <form action="/posts" method="post">
    Name: <br><input type="text" name="name" size="75" ></input><br><br>
    Content: <br><textarea type="text" name="content" rows="25" cols="75"></textarea><br>
    <input type="submit" value="submit">
  </form>
  </body>
</html>
