<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>Create your blog posting here:</h1>
      <form action="/posts" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Content: <input type="text" name="content"></p>
        <input type="submit" id="submit">
      </form>
  </body>
</html>
