<DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="post" action="/posts">
    <label for="post_name">Enter name of post</label><input  type="text" name="name">
    <label for="content_name">Enter content</label><textarea  rows="15" cols="15" name="content"></textarea>
    <input type="submit" value="submit">
  </form>
</body>
</html>