<form action="/articles" method="post">
  This is the form that posts to /articles
  will need an input section for name of the article
  will also need an input section for content
  The above is what'll be included in the params hash that gets sent
  to /articles
  <p>Title:
    <input type="text" name="title">
  </p>
  <p> Article Content
    <input type="text" name="content">
  </p>
  <input type="submit">
</form>
