<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Post</title>
</head>
<body>
  <form action="/posts/new" method="post" style="text-align:center; padding:20px">
    <input type="text" name="name" placeholder="Name" style="margin-bottom:10px"><br>
    <textarea name="content" cols="30" rows="3" placeholder="Post"></textarea><br>
    <input type="submit" value="Submit" style="margin-top:10px">
  </form>  
</body>
</html>