<h1>Blog Post Submission From</h1>

<form action="/posts" method="post">
  <label for="name">Post Name:</label>
  <input type="text" id="name" name="name" value=""><br>

  <label for="content">Post Content:</label>
  <input type="text" id="content" name="content" value=""><br>

  <input type="submit" id="submit">
</form>
