<h1>It's Tiiimmmmeeee Tooooooo Blooooooggggggg</h1>

<form action="/posts" method="post">

  <label for="blog_post_title">Pick a Nice Title for Your Blog Post:</label><br>
  <input type="text" name="name" id="blog_post_title"><p>

  <label for="blog_entry">Add content to your post here.  We know it'll be great.<br>
  ...because you're the best.  <em>Swoon.</em></label><br>
  <textarea name="content" rows="8" cols="80" id="blog_entry"></textarea><p>

  <label for="submit">Ready to publish that blogging gold?  Fucking tap that submit button!</label><p>
  <input type="submit" value="Submit" id="submit">

</form>
