<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" name="name"><br>
      <textarea name="content"></textarea><br>
      <input type="submit" name="submit" value="submit"><br>
    </form>
  </body>
</html>
