<form method="post" action="/articles">
  <label for="title">Title: </label>
  <input type="text" name="title" id="title">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content">
<<<<<<< HEAD
  <input type="submit" id="submit">
=======
  <input type="submit" value="submit">
>>>>>>> cf5917ec1093f97279d3805f91a58da081b9627f
</form>
