<form action="/posts" method="POST">
  <label for="name">Blog Title:</label>
  <input type="text" name="name">
  <label for="content">Blog Content:</label>
  <input type="text" name="content">
  <input type="submit" name="submit" value="submit" id="submit">
</form>
