<form action="/posts" method="post">
      <label>Post Name:</label>
      <input id="name" type="text" name="post[name]" >
      <br>
      <label>Post Content:</label>
      <input id="content" type="text" name="post[content]" >





      <button type="submit" value="submit">submit</button>
</form>
