<form action='/articles' method='post'>
  <label for='title'>Enter your title:</label></br>
  <input type='text' id='title' name='title'></input></br>
  <label for='content'>Enter your content:</label>
  <input type='text' id='content' name='content'></input></br>
  <input type='submit' id='Submit'></input>
</form>