<form action="/posts" method="POST" accept-charset="utf-8">
  <p>Title: <input type="text" name="name" id="name"/></p>
  <p>Content: <input type="textarea" name="content" id="content"/></p>
  <input type="submit" name="Submit" id="submit"/>
</form>
