<form action="/posts" method="POST">
  <label for="name">Blog Name</label>
  <input type="text" name="name">
  <label for="content">Blog Content</label>
  <input type="text" name="content">
  <input type="submit" value="submit">
</form>
