<h1>Submit Your Article Here:</h1>
<form action='/posts' method='POST'>
  <p>Post Name:<input type="text" id="name" name="name"></p>
  <p>Post Content:<input type ="text" id="content" name="content"></p>
  <input type="submit" id="submit">
</form>
