<form action="/posts" method="post">
  <label for="pname">Post Name</label><br>
    <input id="pname" type="text" name="post[name]" /><br>
    <label for="pcontent">Content</label><br>
    <input id="pcontent" type="text" name="post[content]" /><br>
  <input type="submit" value="Submit">
</form>
