<!DOCTYPE html>
<html>
<body>
  <h1>Blog Posts</h1>
  <form method="post" action="/posts">
    <h3>Post Name:</h3>
    <input type="text" name="post[name]"><br>
    <h3>Post Content:</h3>
    <input type="text" name="post[content]"><br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>
