<form action="/posts" method="post">
  <h2><label for="post_title">Title of Post:</label>
    <input type="text" id="name" name="name"></h2>
  <h2><label for="post_content">Post Content:</label>
    <input type="text" id="content" name="content"></h2>
    <input type="submit" id="submit">
</form>
