<h2>Create a new blog post</h2>
  <form method="post" action="/posts">
    <label for="name">Title: </label>
    <input type="text" id="name" name="name"><br>

    <label for="content">Content: </label>
    <textarea id="content" name="content"></textarea>
    <br>

    <input type="submit" id="submit" value="Post">
  </form>
  