<form method = "post" action= "/posts" id = "newpost">

<label for="name">Name </label>
<input type = "text" name = "name" id ="name"> <br><br><br>

<label for="contents"> What's on your mind? </label><br>
<textarea name="content" id ="content" form="newpost"></textarea><br><br>

<input type = "submit" value = "submit" name = "submit" id = "submit">
</form>