<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>BLOG POST</h1>
    <form method = "POST" action= "/posts">
  <p>Name: <input type="text" id= "name" name="name"></p>
  <textarea name="content" id= "content" cols="50" rows="5">
Start Your Blog Here...
</textarea>
<br />
  <input type="submit" id="submit" name ="submit">
</form>
  </body>
</html>
