<form action="/posts" method="POST">
	<label>Post Name: </label><input type="text" name="name">
	<label>Post Message: </label><input type="text" name="content">
	<input type="submit" value="submit">
</form>