<h1>Create your new post</h1>
<h2>new.erb</h2>
<form action="/posts" method="POST" id="new_post">
  <label for="name">Title</lable>
  <input type="text" id="name" name="name">
  <br>
  <br>
  <label for="content">Content</lable>
  <textarea name="content" form="new_post">Enter text here...</textarea>
  <br>
  <input type="submit" value="submit">
</form>
