<form method="post" action="/articles">
  <label for="title">Title: </label>
  <input type="text" name="article[:title]" value="title">
  <label for="content">Content: </label>
  <input type="text" name="article[:content]" value="content">
  <input type="submit" value="submit">
</form>
