<!DOCTYPE html>
<html>
<head>
  <title>creates a new blog post</title>
</head>
<body>
    <p><form action="/posts" method="POST">
    Title: <input type="text" name="name">
    Content: <input type="text" name="content">
    <input type="submit" value="submit">
    </form>
    </p>
    <%Post.all.each do |post| %> 
      <h3><%=post.id%>.) <%= post.name%></h3>
      <h5><%= post.content%></h5>
    <% end %>
</body>
</html>