<form method="post" action="/posts">
  <p>Title: <input type="text" name="name"></p></br>
  <p>Content: <input type="text" name="content"></p></br>
  <input type="submit" name="submit" value="submit" id="submit">
</form>
