<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create New Post</title>
</head>
<body>
  <form action="/posts" method="post">
    <p><label for="post_name">Name: </label>
       <input type="text" name="name"></p>
    <p><label for="post_content">Content: </label>
       <textarea name="content"></textarea></p>

       <input type="submit" value="submit">
  </form>
</body>
</html>
