!<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
  </head>

  <body>
    <form method="post" action="/posts">

    </form>
  </body>
</html>
