<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Create a Post</h1>
    <div class="container">
      <form method="post" action="/posts">
        <p>Name:<input type="text" name="name"></p>
        <p>Post:<input type="text" name="content"></p>
        <input type="submit" id="submit">
      </form>
    </div>
  </body>
</html>
