<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>New Blog Post</title>
 </head>
 <body>
 <h1>Create Your Blog</h1>
    <form action="/posts" method="post">
      Blog Name: <input id="name" type="text" name="name">
      Blog Content: <input id="content" type="text" name="content">
      <input id="submit" type="submit">
    </form>
 </body>
</html>