<h1>Enter post content here:</h1><br>

<form action='/posts' method="post">
  <p>Post Name: </p><input type="text" name="name"><br>
  <p>Post Content: </p><input type="text" name="content">
  <input type="submit" id="submit">
</form>