<form method="POST" action='/posts'>
  <h2>Blog Title:<input type="text" name="name"></h2><br>
  <h3>Blog Content:<input type="text" name="content"></h3><br>
  <input type="submit" id="submit" value="submit" name="submit">
</form>
