<h1> Create a New Post! </h1>

<form action="/posts" method="post" id="new-post">
    <label for "name">Post Name:</label>
    <p><input type="text" name="name"></p>
    <label for "content">Post Content Here:</label>
    <p><textarea id="content" class="text" cols="86" rows="20" name="content">Enter text here...</textarea></p>
    <p><input type="submit" id="button" value="submit"></p>
</form>

