<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

<body>
  <form action="/posts/new" method="post">
  Name: <input type="text" name="name">
  Content: <input type="text" name="content">
  <button type="submit" value="submit">submit</button>
  </form>

</body>
</html>