<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickled Pirates</title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <form action="/posts" method="post">
      <p>Title: <input type="text" name="name"></p>
      <p>Content: <input type="text" name="content"></p>
      <button value="submit" type="submit">Submit</button>
    </form>
  </body>
</html>