<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Blogging App</title>
  </head>
  <body>
    <h2>New Blog Post!</h2>
    <form method="POST" action="/posts">
      <p>Post Name: <input type="text" name="name"></p>
      <p>Post Content: <input type="text" name="content"></p>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
  </html>
  