<form action="/posts" method="post">
  <h1>Kevin's Basic Blog</h1>

  <label for="name">Blog Post Title:</label>
  <input type="text" name="name">
  <br><br>
  <label for="content">Blog Post Content:</label>
  <input type="text" name="content">
  <br><br>
  <button type="submit">submit</button>
</form>

<!--when submitting a param of params: {name: what the user put in, content: user input}-->
