<form method="post" action="/posts">
     Title <input id="title" type="text" name="name">
     Content <input id="content" type="text" name="content">
    <input type="submit" value="submit">
  </form>
