<form method="post" action="/posts">
  Name: <input id="name" type="text" name="name"><br>
  Content: <input id="content" type="text" name="content"><br>

  <p><input id="Submit" type="submit" value="submit"></p>
</form>
