<form class="" action="/posts" method="post">

  <h3>Post Name:</h3><input type="text" name="name" value="">
  <h3>Content:</h3><input type="text" name="content" value="">
  <input id="submit" type="submit" name="" value="Submit">


</form>
