<form action="/posts" method="post">
  <h1>Create a Blog Post</h1>
  <h3>Name: <input type="text" name="name"></p>
  <h3>Content: <input type="text" name="content"></p><br>
  <input type="submit" value="submit">
</form>