<h1>Create Blog Post</h1>

<form method="post" action="/posts">
  <p>Name: <input type="text" name="name"></p>
  <p><textarea name="content"></textarea></p>
  <button type="submit" value="submit">Submit</button>
</form>
