<form method="post" action="/posts">
  <label for="name">Name: </label>
  <input type="text" name="name" id="text">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content">
  <button type="submit" value="submit">Submit</button>
</form>
