<form action="/posts" method="post">

  <input type="text" id="name" name="post_name">
  <input type="text" id="content" name="post_content">
  <input type="submit" name="submit" value="submit">

</form>
