<html>
  <body>
    <form method = 'post' action = '/posts'>
      <p>Blog Post Name: <input id = 'post_name' type = 'text' name = 'name'></p>
      <p>Content: <input id = 'post_content' type = 'text' name = "content"></p>
      <input type = 'submit' value = 'submit'>
    </form>
  </body>
</html>
