<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>BLOG POST</title>
  </head>
  <body>
    <h1>Write A Post:</h1>
    <form method="post" action="/posts">
      <p><label for="name">Post Name:</label>
      <input type="text" name="name"></p>
      <p><label for="content">Post Content:</label>
      <input type="text" name="content"></p>
      <button type="submit">submit</button>
    </form>

  </body>
</html>
