<form action='/posts' method="post">
  <label>Blog Post Name: </label><input id="name" type="text" name="name">
  <label>Blog Post Content: </label><input id="content" type="text" name="content">
  <input type="submit" id="submit" name="submit" value="Submit">
</form>
