<form method="post" action="/posts">
  <label for="name">Post Name:</label>
  <input type="text" name="name" id="name"/><br />
  <label for="content">Post Content:</label>
  <input type="text" name="content" id="content"/><br />
  <input type="submit" value="Submit" id="submit" />
</form>
