<!DOCTYPE html>
<html>
<head>
  <title>Post It</title>
</head>
<body>
<h1>You Thinkin' It, So Post It</h1>
<form method="post" action="/posts"> 
<h2>Post Title:<input type="text" name="name"></h2>
<p>say it:</p><textarea name="content" cols="60" rows="10"></textarea>

<input type="submit" id="button" title="submit">
</form>

</body>
</html>