<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NEW FORM</title>
  </head>
  <body>
    <form action="/posts" method="post">
      Post Name:<input type="text" name="name">
      Post Content:<input type="text"name="content">
      <input type="submit" id="submit">
    </form>
  </body>
  </html>
