<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Post</title>
</head>
<body>
  <form action="/posts" method="POST">
    <p>Post Name: <input type="text" name="name"></p>
    <p>Post Content: <input type="text" name="content"></p>
    <input type="submit" id="submit" value="Submit">
  </form>
  
</body>
</html>