<form  action="/posts" method="post">
  <h2>Title: <input type="text" name="name"></h2>
  <p>
    Contend: <textarea type="text" name="content" cols="80" rows="20"></textarea>
  </p>
  <input type="submit" value="submit">
</form>
