<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>New Blog Post</title>
  	</head>
	<body>
		<form action='/posts' method="POST">
			<br><br><br>
			<label for="name"> Name: </label>
			<input id="name" name= "name" type="text"><br>

			<label for="content"> Content: </label>
			<input id="content" name= "content" type="text box"><br>

			<input id="submit" type="submit">
		</form>
	</body>
</html>
