<form action="/posts" method="POST">
  <label>Title:</label> <input type="text" name="name"><br>
  <label>Content:</label> <input type="text" name="content"><br><br>
  <input type="submit" value="submit">
</form>
