<!DOCTYPE HTML>
<html>
  </head>
  <meta charset="utf-8">
  <title>New Blog Post</title>
  </head>
  <body>
    <form method="POST" action="/posts">
      <label for="post-name">Post Name:</label>
      <input type="text" id="post-name" name="name">
      <label for="post-content">Post Content:</label>
      <input type="text" id="post-content" name="content">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
