<!DOCTYPE html>
<html>
<head>
  <title>New Blog Posts</title>
</head>
<body>
  <h1>New Blog Posts</h1>
  <form method="post" action="/posts">
    <label>Title:</label><input type="text" name="name"><br>
    <label>Blog Post:</label><input type="text" name="content">
    <input type="submit" value="submit">
  </form>


</body>
</html>
