<h1>My Blog</h1>

<form method="post" action="/posts">
  <p>Title: <input type="text" name="name"></p>
  <textarea name="content"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
