<form method="POST" action="/posts">
  <h1>Create a New Post</h1>
  <ul>
  <li>Name:<input type="text" name="name"></li>
  <li>Content:<input type="text" name="content"></li>
  <li><input type="submit" value="submit"></li>
  </ul>
</form>
