<form method="POST" action="/posts">
  
  <p>Title: <input type="text" name="name" id="name"></p>
  <p><textarea name="content" id="content">Write Post Here</textarea></p>
  
  <input type="submit" value="Submit" id="submit">
  
</form>