<h2>Create a New Blog Post</h2>

<form method="POST" action='/posts'>
  <label for="name">Post Name:</label>
  <input type="text" name="name" id="name"> 

  <label for="content">Post Content:</label>
  <input type="text" name="content" id="content"> 

  <input type="submit" id="submit">

</form>