<form action="/posts" method="post">
<h2>    <label>Post Name: </label><input id="name" name="name" type="text"> </h2>
<h3>    <label>Post Content: </label>
    <textarea name="content" id="content"></textarea> </h3>
    <button type="submit" value="submit">Submit</button>
</form>
