<html>
  <head>
    <meta charset="UTF-8">
    <title>New Post</title>
  </head>
  <body>
    <form action="/posts" method="POST">
      Name: <input type="string" name="name" id="name">
      Content: <input type="string" name="content" id="content">
      <input type="submit" name="submit" id="submit">
    </form>
  </body>
</html>