<form method="POST" action="/posts">
<input type="text" id="post1_name" name="name"></input>
<input type="text" id="post1_content" name="content"></input>
<input type="submit" value="submit"></input>
</form>
