<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title></title>
  </head>
  <body>
    
    <form action="/articles" method="POST">
     
     
     <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title">
      </div>
      
      </br> 
      
      <div>
        <div>
          <label for="content">Content:</label>
        </div>
        <div>
          <textarea id="content" name="content" placeholder="Content" rows="15" cols="40"></textarea>
        </div>
      </div> 
      <input type="submit"> 
    </form>

  </body>
</html>
