<h1>Write Your Blog Post Below</h1>

<form method="POST" action="/posts">  
    <p>Blog Post Title: <input id="name" type="text" name="name"></p>
    <p>Content: <input id="content" type="text" name="content"></p>
    <input type="submit" id="submit">
</form>