<form action = "/posts" method = "post">
  <p>Post Name: <input id="name" type="text" name="posts[name]"></p>
  <p>Post Content: <input id="content" type="text" name="posts[content]"></p><br>
  <input type="submit" value="submit">
</form>
