<h1>Post Maker 2001</h1>
<form method="post" action="/posts"
<p>Name: <input type="text" id="post_name" name="name"></p>
<p>Post: <input type="text-area" id="post_name" name="content"></p>
<input type="submit" id="submit" name="submit">
</form>
