    <h1>Create a Blog Post</h1>
    <form method="POST" action="/posts">
      <input class="col-xs-12" type="text" name="name" placeholder="post name" /><br />
      <input class="col-xs-12" type="text" name="content" placeholder="post content" /><br />
      <input class="offset-xs-5 col-xs-2" type="submit" value="submit" />
    </form>
