<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>

    <h1>New Post</h1><br>
    <form method = "post" action = "/posts">
      <h2><label id = "name" for = "name">Name: </label></h2>
      <input id = "name" type = "text" name = "name" value="name"><br>
      <h2><label for = "content">Post: </label></h2>
      <textarea id ="content" name = "content"></textarea><br>
      <h3><label for "submit">Submit: </label></h3>
      <input id = "submit" type = "submit" value = "submit">
    </form>


  </body>
</html>
