<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Blog Post</title>
  </head>
  <body>
    <form action="/posts" method="post">
      <p>Name: <input type="text" name="name"> </p>
      <p>Content: <input type="text" name="content"></p>
      <p><button type="submit" id="submit">Submit</button></p>
    </form>

  </body>
</html>
