<form method="POST" action='/posts'>
  <!--title-->
  <h1>My Blog</h1>
  
  <!--fields-->
  <label for="name">Name</label>
  <input id="name" type="text" name="name"></input>
  
  <label for="content">Content</label>
  <input id="content" type="text" name="content"></input>
  
  <!--submit-->
  <input type="submit" value="submit">
</form>