<!DOCTYPE html>
<html>
  <head> Magazine Form</head>
  <body>
    <h1>Magazine Form</h1>
    <form action="/articles" method="post">
      <p>Article Title: <input type="text" name="title"></p>
      <p>Article Content: <input type="text" name="content"></p>
      <input type="submit" value="submit">
    </form>
    <p></p>
  </body>
</html>
