<form method="POST" action="/posts">
    <label> Name: <input type="text" name="name"></label>
    <br />
    <br />
    <label> Content: <textarea name="content" cols="50" rows="5"></textarea></label>

    <input type="submit" value="submit">
</form>