

<form action="/posts" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="name" id="title"><br>
  <label for="content">Content:</label><br>
  <textarea name="content" rows="8" cols="80" id="content"></textarea><br><br>
  <input type="submit" value="submit">
</form>
