<h1>Make a post</h1>

<form action="/posts" method="POST">
  <p>post name:</p>
    <input type="text" name="name">

  <p>content:</p>
    <textarea name="content"></textarea>
    <br>
  <input type="submit" name="submit" value="submit">
</form>
