<!DOCTYPE html>
<html>
<head>
	<title>Welcome to whatbook</title>
</head>
<body>
	<form action="/posts" method="POST">
		<label for="name">Title of Post</label>
		<input type="text" name="name" id="name">
		<label for="content">Content of Post</label>
		<input type="text" name="content" id="content">
		<input type="submit" name="submit" id="submit">
	</form>
</body>
</html>