<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <form method="POST" action="/posts">
    <p>Blog Post Name: <input type="text" name="name"></p>
    <p>Blog Post Content: <input type="text" name="content"></p>
    <a href="/posts"><input type="submit" name="submit" id="submit" value="submit"></a>
  </form>
</body>
</html>
