<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Form for new post</title>
  </head>
  <body>
    <h1>Your blog post</h1>

  <form action="/posts" method="POST">
      <p>Name: <input type="text" name="name"</p>
      <p>Content: <input type="text" name="content"</p>
      <button id="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
