<form action="/posts" method="post">
  <label>Blog Name:</label>
  <input type="text" name="name"><br>
  <label>Blog Content:</label>
  <input type="text" name="content"><br>
  <input type="submit" value="submit"><br>
</form>
