<html>
<head>
  <title></title>
</head>
<body>
  <h1>New Blog Post</h1>
  <form id="blog_post" method="post" action="/posts">
    Title: <input type="text" id="name" name="name"><br>
    Content:<br>
  <textarea  id="content" name="content" ></textarea><br>
  <input type="submit" value="submit">
  </form>
</body>
</html>
