<h1>New Post</h1>

<form action="/posts" method="post">
  <label for="name">Name: <input type="text" name="name"> </label>
  <label for="content">Content: <input type="text" name="content"></label>
  <input type="submit" id="submit">
</form>
