<h1>Creating a Blog Post</h1>
<form method="POST" action="/posts">
  <p><label id="name">Name:</label> <input type="text" name="name"></p>
  <p><label id="content">Content:</label> <textarea name="content"></textarea></p>
  <input type="submit" value="submit">
</form>