<form action="/articles" method="post">
  
  <label for="title">Title</label>
  <label for="content">Content</label>


  <input type="text" name="title">
  <textarea name="content" rows="8" cols="80"></textarea>
<input type="submit" name="submit" value="">
</form>
