<form action="/articles" method="post">
  <label for="title">Title</label><br>
  <input type="text" name="title" id="title"><br><br>

  <label for="content">Content</label><br>
  <textarea name="content" type="text" id="content"></textarea><br><br>

  <input type="submit">
</form>
