
<h1>Create Your Blog Post</h1>

<form action="/posts" method="post">
  <p><label>Post Title: <input type="text" name="name"></label></p>
  <p><label>Write Your Post Here: <textarea name="content" cols="40" rows="5"></textarea></label></p>
  <p><button type="submit" value="submit">Submit</button>


</form>
