<!DOCTYPE html>
<html>

  <head>
    <title>Enter A New Post Here</title>
  </head>

  <body>

    <form method="POST" action='/posts'>
      <p>
        <label name='post_name'>Post Name: </label>
        <input type='text' name='name' id='name'>
      </p>

      <p>
        <label name='post_content'>Content: </label>
        <input type='text' name='content' id='content'>
      </p>

      <button type='submit' value='submit'>Submit</button>
    </form>

  </body>
</html>
