<form action="/posts" method="POST">
  <label for="post_name">Name of Post: </label>
  <input id="post_name" type="text" name="name"><br>
  <label for="post_content">Content of Post: </label>
  <input id="post_content" type="text" name="content">
  <input type="submit" id="submit">
</form>