<h1>Create a Post</h1>
<form method = 'post' action ='/posts'>
  <h2>Title: <input type = 'text' name='name'></h2>
  <p>Content: <input type = 'text' name='content'></p>
  <input type = 'submit' id='submit'>
</form>
