<form action="/posts" method="post">
  Blog's Name: <input type="text" id="name" name="name"><br>
  Content: <input type="text" id="content" name="content"><br>
  <input type="submit" value="submit">
</form>
