<h4>Please write your blog title in the first box and your blog post in the next.</h4>
  <form method="POST" action="/posts">
    <input type="text" name="name" /><br>
    <input type="article" name="content" /><br>
    <input type="submit" value="submit">
  </form>   
