<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form method="post" action="/posts">
     <h3>Post name: <input type="text" name="name"> </h3>
     <br>
     <h3>Post Content:</h3>
     <textarea name="content"></textarea>
     <br>
     <br>
     <input type="submit" name="submit" value="submit" id="submit"/>
    </form>
  </body>
</html>
