<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>Create Your Blog Post Below</h1>
    <form action="/posts" method="post">
      <label for="name">Post Name:</label>
      <input type="text" name="name" id="name">
      <label for="content">Post Content:</label>
      <input type="text" id="content" name="content">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
