<h1>New Article</h1>
<form action="/articles" method="post" >
  <label for="title">Title</label>
  <input id="title" type="text" name="title">
  <br><br>
  <label for="content">Content</label>
  <textarea id="content" type="text" name="content"></textarea>
  <br><br>
  <input id="submit" type="submit">
</form>
