<form action="/posts" method="post">
  <p><input type="name" name="name" value="Name"></p>
  <p><input type="content" name="content" value="Content"></p>
  <p><button type="submit" value="submit">Submit</button></p>
</form>
