<h1>Create a new post!<h1>

<form method="post" action="/posts">
<label for="name">Post Name:</label>
<input type="text" id="name" name="post[name]"><br>
<label for="content">Post Content:</label>
<input type="text" id="content" name="post[content]"><br><br>
<input type="submit" id="submit">
</form>
