<h1>Creat your Blog Post</h1>
<form action="/posts" method="POST">
<h2><label for="name"> TITLE OF POST: </label>
<input type="text" id="name" name="name"></h2>
<br>
<label for="content"</label><textarea rows="25" cols="50" name="content" id="content">Enter your blog here...</textarea>
<input type="submit" value="submit">
</form>
