<form method="POST" action="/posts">
  <label for="name">name:</label><br>
  <input id="name" type="text" name="name"></input><br>

  <label for="content">content:</label><br>
  <input id="content" type="text" name="content"></input><br>

  <input id="submit" type="submit">
</form>
