<h1>Create A New Blog Post</h1>

<form action="/posts" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Content: <input type="text" name="content"></p>
    <input type="submit" name="submit" value="submit">
</form>