<!DOCTYPE html>
<html>
<head>
  <title>New Blog Post</title>
</head>
<body>
  <form action="/posts" method="POST">
    <h3>Name: <input type=text name="name" id="name"></h3>
    <h3>Content: <input type=text name="content" id="content"></h3>
    <input type=submit id="submit">
  </form>

</body>
</html>