<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is a form for the blog</h1>
	<form action="/posts" method="post">
		<p>Name: <input type="text" name="name"></p>
		<p>Blog Post: <br><textarea name="content" rows="20" cols="50"></textarea></p>
		<input id="submit" type="submit" name="submit">	





	</form>

</body>
</html>