<form action="/posts" method="POST">
  <label for"name">Name</label>
  <input id="post_name" type="text" name="name"><br>
  <label for"content">Name</label>
  <input id="post_content" type="text" name="content"><br>
  <input type="submit" value="submit">
</form>
