<form method='post' action='/articles'>
  <p>Article title: <input type='text' name='title' id='name'></p>
  <br>
  <textarea name='content' id='content'>Write Article Here: </textarea>
  <input type='submit' value='Submit' id='submit'>
</form>
