<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <form method = "post" action = "/posts">
     <p>Name: <input type='text' name='name'></p>
     <p>Posts: <input type='text' name ='content'></p>
     <input = 'submit' value = 'sumbit' type='submit' id= 'submit' > 
  </form

</body>
</html>