<h1>Create a Blog Post<h1>
  <form method="post" action="/posts">
    <p>Name:<input type="text" name="name"></p>
    <p>Content:<textarea name="content"></textarea></p>
    <input type="submit" value="submit">
  </form>
