<!DOCTYPE html>
<html>
<head>
  <title>New Posts Form</title>
</head>
<body>
  <form method="POST" action="/posts">
    <label>Name:</label>
    <br>
    <input type="text" name="name">
    <br>
    <label>Content:</label>
    <br>
    <input type="text" name="content">
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
</body>
</html>