  <p>Welcome to your blogging platform.</p>
    <form  action="/posts" method="POST">

      <label for="post_name">Title</label>
      <input type="text" id="name" name="post[name]">

      <label for="post_content">Content</label>
      <input type="text" id="content" name="post[content]">

      <input type="submit" value="submit">
    </form>
