<form method="POST" action="/posts">
<input Name: type="text" id="post1_name" name="name">
<input Content: type="text" id="post1_content" name="content">
<input type="submit" value="submit"></input>
</form>
