<h1>Create a New post:</h1>
<!-- create an erb file in the views directory, new.erb, with a form that POSTs to a controller action, /posts.-->
<form method="post" action="/posts">
  <p><label for="name">Name: </label><input type="text" name="name"></p>
  <p><label for="content">Content: </label><input type="textarea" name="content"></p>
  <p><input type="submit" value="submit"></p>
</form>
