<h1> Create a Post</h1>

<form action="/posts" method="POST">
  <p>Post: <input type="text" name="name"></p>
  <p>Content: <textarea name="content"></textarea></p>
  <input type="submit" id="submit">
</form>
