<form action="/posts" method="POST">
  <p>Post Name: <input type="text" name="name"></p>
  <p>Post Content: <textarea rows="4" cols="100" name="content"></textarea></p>
  <p><input type="submit" value="submit">
</form>
