<form method="POST" action="/posts">
  <h1>New Blog Post Entry</h1>
  <label>New Post Name: </label>
  <input type="text" id="name" name="name"><br>
  <label>New Post Content: </label>
  <input type="text" id="content" name="content"><br>
  <input type="submit" id="submit">
</form>
