<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
  </head>

  <body>

    <form method="post" action="/posts">
       Name: <input type="text" id="name" name="post[name]"><br>
       Content: <input type="text" id="content" name="post[content]"><br>
       <input type="submit" id="submit">
    </form>
  </body>
</html>
