<!DOCTYPE html>
<html>
    <head>
        <h1>Blog Post</h1>
    </head>
    <body>
        <form method='POST' action='/posts'>
            Name: <input type='text' name='name' id='name'>
            Content: <input type='text' name='content' id='content'>
            <input type='submit' id='submit'>
        </form>
    </body>
</html>
