<form action="/posts" method="POST">
  <label for="name"> Post name: </label>
  <input type="text" id="name" name="name"></input>
  <label for="content"> Post content: </label>
  <input type="text" id="content" name="content"></input>
  <input type="submit" id="submit">
</form>
