<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Vanlife Blog</h1>
      <form action="/posts" method="post">
        <h3>Post Name: </h3><input id="name" type="text" name="name"><br>
        <h3>Post Content: <input id="content" type="text" name="content"></h3><br>

        <button type="submit" value="submit">Create Post</button>
      </form>
  </body>
</html>
