<!DOCTYPE html>
<html>
  <body>

    <form method="post" action="/posts">
      <input type="text" name="name">
      <textarea name="content" cols="15" rows="26">Penny for your thoughts?</textarea>
      <input type="submit" value="submit" name="submit" id="submit">
    </form>

  </body>
</html>
