<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Articles</title>
<h1>Welcome to the Articles Lab</h1>
<a href="new"> Click Here to Find an Article</a>
</head>

<body>
  <p>


<form action='/articles' method='post'>

  <label for="name">Article Title</label>
    <input type="text" id="name" name="article[title]">

  <label for="name">Article Content</label>
    <input type="text" id="name" name="article[content]">


    <input type="submit" value="submit">

  </p>

</form>




    </form>
  </body>
</html>
