<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
  </head>

  <body>

  <form method="POST" action="/posts">
  <p><h2>Blog Title:</h2> <input type="text" name="name"></p>
  <p><h2>Blog Content:</h2> <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>

  </body>
</html>
