<h1>Create a blog post</h1>
<form action='/posts' method="POST">
   <p>
      <label>Blog Name</label>
      <input id="name" type="text" name="name" >
      <br>
      <label>Blog Content:</label>
      <input id="content" type="text" name="content" >
    </p>


<button type="submit" value="submit">Submit</button>
</form>
