<h1>Create a Post:</h1>
<form action='/posts' method='POST'>
  <label for="name">Title: </label></br>
  <input type="text" name="name" id="name"></br>
  <label for="content">Content: </label>
  <input type="textarea" name="content">
  <input type="submit" value="submit">
</form>
