<h1>Blabber Blog!</h1>

<form method="post" action="/posts">
<label for="name">Name: <input type="text" name="name"></label>
<label for="post">Post: <input type="text" name="content"></label>
<input type="submit" value="submit">


</form>
