<form action="/posts" method="post">
  <p>
  post name: <input id="name" type="text" name="post[name]"><br>
  post content: <input id="content" type="text" name="post[content]">
  </p>
  <input type="submit" value = "submit">
</form>