<form method="post" action="/posts">
<input type="text" id="post_name" name="post[name]"></input>
<input type="text" id="post_name" name="post[content]"></input>
<input type="submit" value="submit"></input>
</form>
