<form action="/articles" method="post">
    <label for="title">Article Title</label>
    <input type="text" value="title" name="title">
    <label for="content">Article Content</label>
    <input type="area" value="contnet" name="content">
    <input type="submit" value="submit">
</form>