<form action="/posts" method="POST" id="blogpost">
<p>Post Name: <input type="text" name="name"></p>
</form>
<p>Post Content: <textarea name="content" form="blogpost"></textarea>
<p><input type="submit" id="submit" form="blogpost">