<form method="post" action="/articles">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title"><br>
  <br>
  <label for="content">Content</label><br>
  <textarea type="text" id="content" name="content"></textarea><br>
  <br>
  <input type="submit" value="submit">
</form>
