<h1>Create a New Post Below:</h1>
<form method="POST" action="/posts">
  <h2><label for="post_name">Name:</label><br></h2>
  <input id="post_name" type="text" name="name"/><br>

  <h2><label for="post_content">Content:</label><br></h2>
  <input id="post_content" type="text" name="content"/><br>
  <input id="submit" type="submit"/>
</form>
