<!-- Page to create a new blog post  -->
<!DOCTYPE HTML>
<html>
  <body>

    <h1>Create a new blog post! </h1>

    <form method="post" action="/posts">

      <p><label for="name">Post Name: </label>
      <input type="text" name="name"/></p>

      <p><label for="content">Post Content: </label>
      <input type="text" name="content"/></p>

      <p><input type="submit" value="submit"/></p>

    </form>
  </body>
</html>
