<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Posts!</title>
  </head>
  <body>
    <h1>PostBook</h1>
    <h2>Make A Post</h2>
    <form action="/posts" method="POST">

      <label for="POST-name">Post title:</label>
      <input id="POST-name" type="text" name="name">

      <br/>

      <label for="POST-content">Put content here:</label>
      <input id="POST-content" type="text" name="content">

      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
