<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Make your form here</h1>
    <form action="/posts" method="post">
      Post Name: <input type="text" name="name">
      Post Content: <input type="text" name="content">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
