<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      Enter Name: <input type="text" name="name"><br>
      Enter Content: <input type="text" name="content"><br>
      <input type="submit"id="submit">

    </form>

   </body>
</html>
