<form method="POST" action="/posts">
  <p>Post name:<input type="text" name="post[name]" id="name"></p>
  <p>Post content:<input type="text" name="post[content]" id="content"></p>
  <input type="submit" name="submit" id="submit">
</form>
