<!DOCTYPE html>
<html>
  <head>
    <title>
      New Post
    </title>
  </head>
  <body>
    <form method="post" action="/posts">
      <label for="name">Name:</label>
      <input type="text" name="name"><br>
      <label for="content">Content:</label>
      <input type="text" name="content"><br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>