<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New</title>
  </head>
  <body>
    <h1>Add new blog post:</h1>
    <form action="/posts" method="POST">

      <p>Blog post name: <input type="text" name="name"></p>
      <p>Post content: <input type="text" name="content"></p>

      <input id="submit" type="submit" value="Submit">
    </form>

  </body>
</html>
