<form action="/posts" method="post">
  <p>Name:<input type="name" name="name"></p>
  <p>Content:<input type="content" name="content"></p>
  <p><button type="submit" value="submit">Submit</button></p>
</form>
