<form method="POST" action="/articles">
  <label>Title: <input type="text" name="article[title]"></label><br>
  <label>Content: <input type="text" name="article[content]"></label><br>
  <input type="submit" id="Submit">
</form>
