<h1>New Post</h1>
<form class="" action="/posts" method="post">
 <p><label for="">Name:</label>
 <input type="text" name="name" value=""></p>

 <textarea name="content" rows="8" cols="80"></textarea>

 <p><input type="submit" name="" value="submit"></p>
</form>