<!DOCTYPE html>
<html>
  <head>
    <title>Article Form</title>
  </head>

  <body>
    <form method="post" action="/articles">
      <label for="title">Title:</label>
      <input type="text" id="title" name="article[title]">
      <label for="content">Title:</label>
      <input type="text" id="content" name="article[content]">
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
