<form method="POST" action="/posts">
  <p>Post's Name: <input type="text" name="name"></p>
  <br>
  <p>Post's Content: <input type="text" name="content"></p>
  <input type="submit" id="submit" name="submit">
</form>