<form method="POST" action="/posts">
    <label for="name"></label><p>Name: </label><input id="name" type="text" name="name"></p>
    <label for="content"></label><p>Content: </label><input id="content" type="text" name="content"></p>
    <button type="submit">submit</button>
</form>