<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Blog - New Post</title>
  </head>
  <body>
    <form class="" action="/posts" method="post">
      <p>Blog Title:</p>
      <input type="text" name="name" value="">
      <p>Blog Content:</p>
      <textarea name="content" rows="8" cols="80"></textarea>
      <br>
      <button type="submit" name="submit">submit</button>
    </form>
  </body>
</html>
