<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Post Page</title>
  </head>
  <body>
    <h1>Create a Post</h1>
    <form method="POST" action="/posts">
      <input type="text" id="name" name="name">
      <textarea type="text" id="content" name="content"></textarea>
      <input type="submit" id="submit" name="submit">
    </form>
  </body>
</html>
