<form method="POST" action="/posts">
  <div>
    <label for="post_name">Post Title:</label>
    <input type="text" id="post_name" name="name">
  </div>
  
  <div>
    <label for="post_content">Post Content:</label>
    <input type="text" id="post_content" name="content">
  </div>
  
  <input type="submit" id="submit" name="Submit">
</form>