<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
  </head>
  <body>

    <h1>Blog</h1>

    <form action="/posts" method="POST">
      <p><label for="name">Name: </label>
      <input id="name" input type="text" name="name"></p>
      <p><label for="content">Content: </label>
      <input id="content" input type="text" name="content"></p>
      <input type="submit" id="Submit" value="submit">
  </body>
</html>
