<form method="post" action="/posts">

  <h2>Enter the title of your blog post: <input type="text" name="name"></h2>
  <p>Enter the content of your blog post: <input type="text" name="content"></p>
  <input type="submit" value ="submit">

</form>
