<!DOCTYPE <html>
<head>
  <title>Write a New Post</title>
</head>
  <body>
    <h1>Write a new post</h1>

  <form action='/posts' method='post'>
    <h2>Name:<input type="string" name="name"></input>
    <h2>Content:<input type="text" name="content"></input> 
    <br>
    <button type="submit" value="submit">Save</button>
  </form>

  </body>
</html>