<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form to Submit Blog Post</title>
</head>
<body>
	<h1>Create Blog Post Here</h1>
	<form method="post" action="/posts">
  		<p>Name: <input type="text" name="name"></p>
  		<p>Content: <input type="text" name="content"></p>
  		<input type="submit" value="submit">
	</form>		
</body>
</html>