<form action="/posts" method="post">
  <h1>ENTER YOUR BLOG POST BELOW</h1>
  <label for="name">Name:</label>
    <input type="text" name="name" id="name"><br>
  <label for="content">Content:</label>
    <input type="textarea" name="content" id="content"><br>
  <input type="submit" value="submit">
</form>
