<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Sinatra CRUD</title>
   </head>
   <body>
      <form action="/posts" method="post">
         <label>Post name: </label> <input type="text" name="name">
         <label>Post content: </label> <input type="text" name="content">
         <input type="submit" value="submit">
      </form>

   </body>
</html>
