
<!DOCTYPE html>
<html>

<h1> Fill in your blog post </h1>
  <form action="/posts" method="post">
      Blog Name: <input type="text" name="name" id="name">
      Blog Post:<input type="text" name="content" id="content">
      <input type="submit" id="submit">

  </form>

</html>
