<form method="POST" action="/posts">
  <p>New Post Name: <input type="text" name="name"></p>
  <p>New Post Content: <input type="text" name="content"></p>
  <button type="submit" value="submit">Submit</button>
</form>
