<form method = "POST" action = "/articles">
  <h3>Article Title: <input type="text" name="title"></h3>
  <h3>Article Content:</h3>
  <textarea name="content" rows="20" cols="50"></textarea><br>
  <p></p>
  <input type="submit" value="Submit">
</form>
