<h2>CREATE A NEW POST</h2>

<form action="/posts" method="POST">
  <label for="name">POST TITLE: </label>
  <input type="text" name="name" />
  </br>
  <label for="content">CONTENT: </label>
  <input type="text" name="content" />
  </br>
  <input type="submit" value="submit" />
</form>
