<form method="POST" action="/posts">
  <h2><label for="name">Title:</label></h2>
  <input type="text" name="name">
  <h2><label for="content">Content:</label></h2>
  <input type="text" name="content">
  <input type="submit" id="submit">
</form>
