<h1>Blog</h1>
<form method="post" action="/posts">
  <label>New post!</label>
  Post Name: <input type="text" name="name"><br>
  Post Content: <input type="text" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>
