<form method="POST" action="/posts">
  <p>Post Name: <input type="text" name="name"></p>
  <p>Post Content: <input type="text" name="content"></p>
  <input id="Submit" type="submit" value="submit">
</form>
