<html>
  <head>
    <title>New Post</title>
  </head>
  <body>
    <form method="POST" action="/posts">
      <fieldset>
        <legend>
            Create
        </legend>
        <label>
          Name:
          <input type="text" name="name" placeholder="Have a good name?">
        </label>
        <br />
        <textarea name="content" placeholder="Write here." rows="4" cols="40"></textarea>
      <input type="submit" id="submit">
      </fieldset>
    </form>
  </body>
</html>