<form action="/posts" method="POST">

  <p>
    Post Title: <input type="text" name="name"><br>
  </p>
  <p>
    Post content: <br> <textarea name="content" rows="20" cols="50"></textarea><br>
  </p>
  <input type="submit" id="Submit" value="submit">


</form>
