<h1>Create a New Blog Post</h1>

<form method="post" action="/posts">

<label for="post_name">Title: </label><input id="post_name" type="text" name="name">
<label for="post_content">Content: </label><input id="post_content" type="text" name="content">
<input type="submit" value="submit">

</form>
