<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Write Your Blog Post</title>
    </head>
    <body>
        <form method="post" action="/posts">
            <p>Author Name:<input type='text' name='name'></p>
            <p>Blog Content:<input type='text' name='content'></p>
            <input type='submit' value='submit'>
        </form>
    </body>
</html>