<!DOCTYPE HTML>
<html>
<head><title>Blog Post App</title>
  <head>
    <body>
      <form method="POST" action="/posts">
        <h2><p>Welcome to the Blog Post App</h2>
        <h2>Enter the post name and content below and click submit</h2></p><br>
        <p><h3><label for="name">Post Name:</label>
        <input type="text" id="name" name="name"></p><br>
        <label for="content">Post Content:</label>
        <input type="text" id="content" name="content"><br>
        <p><input type="submit" id="submit"></h3></p>
      </form>
    </body>
    </html>
