<form method="post" action="/posts">
  <label for="name">Post Name: </label>
  <input type="text" id="name" name="name">
  
  <label for="content">Post Content: </label>
  <input type="text" id="content" name="content">
  
  <input type="submit" id="submit" value="Post">
  
</form>