<form action="/posts" method=POST>
  <label for="name">Name: <input type="text" name="name" id="name"></label>
  <br>
  <label for="content">Content: <input type="text" name="content" id="content"></label>

  <input type="submit" id="submit">
</form>
