<form action= '/posts' method= 'post'> 
  name:<input type='text' name='name'></input>
  content:<input type='text' name='content'></input>
  <button type='submit' value='submit'>submit</button>
</form>