<form method="POST" action="/articles">
  <label>Article title: <input type="text" name="title"></label>
  <label>Article content: <input type="text" name="content"></label>
  <input type="submit">Submit</input>
</form>