<h1>Create a Post</h1>

<form method="post" action="/posts">
  <label for="name">NAME:</label>
  <input type="text" name="name" id="name">
  <br>
  <label for="content">Content:</label>
  <input type="text" name="content" id="content">
  <br>

  <input type="submit" name="submit" id="submit">
</form>
