<h1>Create Your Blog Post!</h1><br>

<form method="post" action="/posts">
  <p>Title: <input type="text" name="name"></p>
  <p>Content:</p>
  <p><textarea rows="8" cols="80" type="text" name="content"></textarea></p>
  <input type="submit" value="submit">
</form>

