<!DOCTYPE html>

<html>
<head>
  <title>New Post</title>
</head>

  <body>
    <h1>New Post</h1>

    <form method="post" action = "/posts">
      <label>Title:<input type="text" name="title"> </label>
      <label>Content:<input type="text" name="content"></label>
      <input type="submit" value="submit">
    </form>

  </body>
</html>
