<form action="/posts" method="post">
  <label for="name">Name of Post:</label>
  <input id="name" type="text" name="name">
  <p></p>
  <label for="content">Content:</label>
  <textarea id="content" type="text" name="content"></textarea>
  <p></p>
  <input id="submit" type="submit">
</form>
