<form action="/posts" method="post">
  Name: <input id="name" type="text" name="name"><br>
  Content: <input id="content" type="text" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>
