<form method='POST' action='/articles'>
  <label for='article_name'>Article Title: </label>
  <input id='article_name' type='text' name='title'><br></label>
  <label for='article_content'>Article Content: </label>
  <input id='article_content' type='text' name='content'><br></label>
  <button id="submit" type="submit">Submit</button>
</form>