<h1> Add a new blog post here: </h1>
<form  action="/posts" method="POST">
Title: <br>
<input type="text" id="title" name="post[title]"><br>
<h2> Content: </h2> <br>
<textarea type="text" id="content" name="post[content]"></textarea>
<input type="submit" value="Submit Your Post">
</form>