<!DOCTYPE HTML>
<html>
<title>Post Entry</title>
<header>Enter a New Post!</header>
<body>

<form action="/posts" method="POST">


  <p><h2>Post Title:<input type="text" name="name"></h2></p>
  <h2>Post Content:<input type="text" name="content"></h2>

  <button type="submit" value="submit">Submit</button>
</form>
</body>
