<!DOCTYPE html>
<html>
<body>
  <form action="/posts" method="POST">
    <p><input type="text" name="name"></input></p>
    <p><input type="text" name="content"></input></p>
    <input type="submit" id="submit">
  </form>
</body>
</html>
