<<<<<<< HEAD
<h1>Create a new blog post:<h2>
  <form action="/posts" method="post">
    <p>Name:<input type="text" name="name"></p>
    <p>Content:<textarea name="content"></p>
      <input type="submit" value="submit">
=======
<h1>Create a Blog Post<h1>
  <form method="post" action="/posts">
    <p>Name:<input type="text" name="name"></p>
    <p>Content:<textarea name="content"></textarea></p>
    <input type="submit" value="submit">
>>>>>>> 8a45b38c12ab3caa52928c2d185035368e5474b3
  </form>
