<form action="/posts" method="POST">
  <p> Post Name: <input type="text" name="name"></p>
  <p> Post Content: <input type="text" name="content"></p>

  <button type="submit" id="submit">Submit</button>

</form>
