<form method="post" action="/posts">
  Name: <input type="text" id="name" name="name" />
  Content: <input type="text" name="content" id="content"/>

  <input type="submit" id="submit">submit</input>
</form>
