<form action="/articles" method="post">
  <div>
  <label for="title">Title</label>
  <input id="title" type="text" name="title" />
  <br>
  <label for="content">Content</label>
  <textarea id="content" type="text" name="content">
  </textarea>
  </div>

  <p><input type="submit" /></p>
</form>
