
    <form method="POST" action="/posts">
      <h4>Type in the title of your post here:
        <input type="text" name="name">
      </h4>
      <h4>Enter text:
        <input type="text" name="content">
      </h4>
      <input type="submit" id="submit">
    </form>
