
<form action="/articles" method="post">
  Article Title: <input id="title" type="text" name="article[title]">
  Article Content: <input id="content" type="text" name="article[content]">
  <input id="submit" type="submit">
</form>