<h2>Blog Post</h2>
<form action="/posts" method="post">
  <p>Name: <input id="post_name" type="text" name="name"></p>
  <p>Content: <input id="post_content" type="text" name="content"></p>
  <input type="submit" value="submit">
</form>
