<form method="post" action="/posts">
  <h2>Post Name:</h2> <input type="text" name="name">
  <br>
  <h2>Post Content:</h2> <input type="text" name="content">
  <br>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
