<form action="/posts" method="POST">
  <h4>Post Name: <input type="text" name="post[name]"></h4>
  <h4>Content: <input type="text" name="post[content]"></h4>
  <input type="submit" id="submit">



</form>