<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article</title>
  </head>
  <body>
    <form action="/articles" method="POST">
      <label for="title">Name</label>
      <input type="text" name="title"><br>
      <label for="name">Blog Content</label>
      <input type="text" name="content"><br>

      <input type="submit" value = "submit">
    </form>
  </body>
</html>
