<!-- We need to create an erb file in the views directory, new.erb, with a form that POSTs to a controller action, /posts.  -->
<form method="POST" action="/posts">
  <input type="text" name="name">
  <input type="text" name="content">
  <input type="submit" value="submit">

</form>
