<form action="/posts" method="post">
  <h1>Create a post:</h1>
  <p>Post Name:<input type="text" name="name"></p>
  <p>Content:<input type="text" name="content"></p>
  <input id="submit" type="submit" value="submit">
</form>
