<form action="/posts" method="POST">
  <label for id="name">Name:</label><br><input type="text" name="name" id="name"> <br><br<
  <label for id="name">Content:</label><br><textarea rows="20" cols="50" name="content" id="content"></textarea><br><br>
  <input type=submit id="submit" value="Submit">
</form>
