<form action="/posts" method="post">
  Blog Name: <input type="text" id="name" name="blog[name]">
  Blog Content: <input type="text" id="content" name="blog[content]">
  <input type="submit" value="submit">
</form>
