<form class="" action="/posts" method="post">
<p>Post Name:</p>
<input type="text" name="name" value="">
<p>Post Content:</p>
<textarea name="content" rows="8" cols="80"></textarea><br /><br /> 
<input type="submit" value="submit">
</form>
