<!DOCTYPE html>
<html>
  <head>
    <title>Create Post</title>
  </head>
  <body>

    <form method="post" action="/posts">
      Post Name: <input id="post_name" type="text" name="name">
      Post Content: <input id="post_content" type="text" name="content">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
