<h4>Write your blog</h4>
  <form method="POST" action="/posts">
    <input type="text" name="name" /><br>
    <input type="article" name="content" /><br>
    <input type="submit" value="submit">
  </form>
