<h1>Blog Post</h1>
<br>
<form action="/posts" method="POST">
  <label for="name">Post Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="content">Post Content:</label><br>
  <input type="text" id="content" name="content"><br>
  <br>
  <input type="submit" id="submit" value="Submit">
</form>