<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>My Blog</h1>
    <form method="post" action="/posts">
      <p>Create a New Blog Post</p>
      Post Name: <input id="post[name]" type="text" name="post[name]">
      Post Content: <input id="post[content]" type="text" name="post[content]">
  <%=binding.pry%>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>

  </body>
</html>
