<h1>Create New Post:</h1>

<form method="POST" action="/posts">
  <label for="name">Post Name</label>
  <input name="name" type="text" id="name" />
  <label for="content">Post Content</label>
  <input name="content" type="text" id="content" />
  <button value="submit">Submit</button>
</form>

<a href="/posts">Back to all posts</a>
