<!DOCTYPE html>
<head></head>
<body>
  <h1>Fill out this form with your post</h1>
  <form class="" action="/posts" method="post">
    <h1>Post Form</h1>
    <p>Post name: <input type="text" name="name" value=""></p>
    <p>Post content: <input type="text" name="content" value=""></p>
    <input type="submit" name="" value="submit">
  </form>
</body>
<footer></footer>
