<form action="/posts" method="POST">
  <h3>Please enter post name:</h3>
  </br>
  <input type="text" name="name" id="name">
  <h3>Please enter post content:</h3>
  </br>
  <input type="text" name="content" id="content">
  <input type="submit" id="submit">
</form>
