<form class="" action="/posts" method="post">
  <h3>Name of post: </h3>
  <input type="text" name="name"><br>
  <h3>Type Content: </h3>
  <input type="text" name="content"><br>
  <input type="submit" value="submit">
</form>
