<h1> Create You Blog Post Below</h1>
<form method="POST" action="/post">
<p>Post Name: <input type="text" name="name"> </p>
<p>Post Content: <input type="text" name="content"> </p>
<p> <input type="submit" value="Submit Post" </p>
</form>
