<h1>Create A New Blog Post</h1>
<form method="post" action="/posts">
  <p>Name of your blog post:<br><input type="text" name="name"></p>
  <p>Content of your blog post:<br><textarea name="content" cols=60 rows=20></textarea></p>
  <input type="submit" id="submit">
</form>