<form method="POST" action="/posts">
  <h1>Create your Blog Post</h1>
  <p>
    Title: <input type="text" name="name"><br>
    Write your blog post here: <input type="text" name="content">
  </p>
  <button type="submit" name="submit" id="submit">Submit</button>
</form>
