<h1>Create a New post:</h1>
<form method="post" action="/posts">
  <p><label for="name">Name: </label><input type="text" name="name"></p>
  <p><label for="content">Content: </label></p>
  <p><textarea name="content"></textarea></p>
  <p><input type="submit" value="submit"></p>
</form>
