<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>New Post</h1>
    <form action="/posts" method="post">
      <label for="post_name">Post Name: <input id="post_name" type="text" name="name" value=""></label><br>
      <label for="post_content">Post Content: <textarea id="post_content" type="text" name="content" value=""></textarea></label><br>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
