<h1>Creat Your Article!</h1>

<form action="/articles" method="post">

  <label for="title">Title</label>
  <input id="title" type="text" name="title">


  <label for="content">Content</label>
  <textarea id="content" name="content" type="text" ></textarea>

  <input type="submit">
</form>
