<form method="post" action="/posts">
  Name: <input type="text" id="name" name="name"><br><br>
  Content: <input type="text" id="content" name="content"><br><br>
  <button type="submit" id="submit">Submit</button>
</form>
