
<form method = "post" action = "/articles">
  <p>Title: <input = "id" type = "text" name = "title"></input></p>
  <p> Content<textarea = "id" name = "content"></textarea></p>
  <input type="submit">
</form>
