<h1>Blog Post</h1>
    <form method="POST" action='/posts'
        <p> Title: <input id="post_name" type="text" name="name"></p> 
        <p> Content: <input id="post_content" type="text" name="content"></p>
        <input type="submit" value="submit">      
    </form>
