<form method="post" action="/articles">
  <div>
    <label for="title">Title</label>
    <br/>
    <input type="text" name="title" id="title">
  </div>
  <div>
    <label for="content">Content</label>
    <br/>
    <textarea name="content" id="content"></textarea>
  <div>
  <input type="submit" value="submit">
</form>
