<html>
<body>
<form method="post" action="/posts">
  Name: <input type="text" name="name" id="post_name"><br>
  Content: <textarea type="text" name="content" id="post_content"></textarea><br> 
  <input type="submit" id="submit">
</form>

</body>
</html>