<form action="/posts" method="POST" id="blog_post_form">
  <input type="text" name="name" placeholder="Blog Post Title:">
  <br>
  <textarea name="content" form="blog_post_form" placeholder="Write your blog post here:"></textarea>
  <br>
  <input type="submit" id="submit" value="Submit">
</form>
