<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
</head>
<body>	
	<form action="/posts" method="POST">
		<input type="text" name="name">
		<input type="text" name="content">	
		<input type="submit" id="submit" value="submit" name="submit">
	</form>
</body>
</html>