<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/posts" method="post">
    Name: <br>
    <input type="text" name="name" > <br>
    Content: <br>
    <input type="text" name="content"> <br>
    <button type="submit" name="submit" value="submit"></button>
  </form>
</body>
</html>
