<h1>Create Blog Post</h1>

<form method="POST" action="/posts">
  Post Name:<input type="text" name="name"><br>
  Post Content:<input type="text" name="content"><br>

  <input type="submit" name="submit" id="submit" value="submit">
</form>
