<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create Blog Post</title>
 </head>
 <body>
   <h1>Create a Blog Post!</h1>

   <form method="POST" action="/posts" id="usrform">
   Post Title: <input type="text" name="name">
   <input type="submit" value="submit">
   </form>

   <textarea name="content" form="usrform">Enter blog post here...</textarea>


 </body>
</html>
