<h1>New Post</h1>
<form class="" action="/posts" method="post">
  <input type="text" name="name" value="" placeholder="Name"><br>
  <textarea cols="50" rows="10" name="content" placeholder="Write your content here"></textarea><br>
  <input type="submit" name="submit" value="submit">
</form>
