<form action='/posts' method="POST">
  <h2>Write your blog post</h2>
  <input type="text" name="name" /><br>
  <input type="text" name="content" /><br>

  <button type="submit" value="submit">Submit</button>
</form>
