<form action="/posts" method="post">

    Title: <br><input type="text" id="name" name="name"><br>
    <br>
    Blog Name: <br><input type="text" id="content" name="content"><br>
    <br>
    <button type="submit" value="submit">submit</button>
</form>