<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Blogs</title>
  </head>
  <body>
    <h1>Enter your first blog entry!</h1>
    <form method="post" action="/posts">
      <p>Name:</p>
      <input type="text" name="name">
      <p>Entry:</p>
      <input type="text" name="content">
      <br>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
