<form action="/posts" method=POST>
	<h2>Create a new post: </h2>
	<p>Title: <input type="text" name="name" id="name"></p>
	<p>Content: <textarea name="content" id="content"></textarea></p>
	<input type="submit" name="submit" id="submit">
</form>