<form method="POST" action="/posts">
  <label for="post_name">Name:</label><br>
  <input id="post_name" type="text" name="name"/><br>

  <label for="post_content">Content:</label><br>
  <input id="post_content" type="text" name="content"/><br>
  <input id="submit" type="submit"/>
</form>
