<h1>New Post</h1>
<form method="post" action="/posts">
    <label for="name">Name: </label><br>
    <input type="text" id="name" name="name"><br><br>
    <label for="content">Content: </label><br>
    <input type="textarea" id="content" name="content">
    <input type="submit" id="submit">

</form>