<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
<title>Articles</title>
<h1>Welcome to the Articles Lab</h1>
<a href="new"> Click Here to Find an Article</a>
</head>

<body>
  <p> -->


<form action='/articles' method='post'>

  <label for="title">Title</label>
    <input type="text" id="title" name="title"/>

  <label for="content">Content</label>
    <input type="text" id="content" name="content"/>


    <input type="submit"/>
    <!-- <input type="submit" name="submit" value="submit"/> -->

  <!-- </p> -->

  </form>
<!-- </body>
</html> -->
