<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%=@post.name%>
    <%=@post.content%>
    <form action="/posts/<%=@post.id%>/delete" method="post">
      <input type="hidden" name="_method" id="hidden" value="delete">
      <input type="submit" name="" value="delete">
    </form>

  </body>
</html>
