<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<form method="post" action="/articles/<%= @article.id %>">
<input type="submit" value="delete">
<input id="hidden" type="hidden" name="_method" value="DELETE">
</form>
