<h1>Post</h1>

<div class="post">
  <h3>Name: <%= @post.name %></h3><br>
  <h4>Content: <%= @post.content %></h4>
</div><br>

<form  action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit" value="delete">delete</button>
</form>
