<h1>New Post: </h1><br>
  <h2><%= @post.name %></h2>
  <p><%= @post.content %></p><br><br>

  <form action="/posts/<%= @post.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
