<h1>Your Post</h1>
<% if session['delete_message']? %>
  <%= session['delete_message'] %>
  <% end %>
<p>
<%= @post.name %> <br />
<%= @post.content %>
</p>
<form method="post" action="/posts/<%= @post.id %>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
