<!DOCTYPE html>
<html>
  <head>
    <title>Show</title>
  </head>
  <body>
    <h1> <%= @posts.name%></h1>
    <p><%= @posts.content%></p>
    
    <form method="post" action="/posts/<%=@posts.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
    
  </body>
</html>