<!DOCTYPE html>

    <h4><%=@post.name%></h4>
    <p><%=@post.content%></p>

    <form method="post" action="/posts/<%= @post.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
