<h1>Post No. <%=@post.id%></h1>

<h3><%= @post.name %></h3>

<p><%= @post.content %></p>

<form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
