<!-- this page finds the particular article that needs to be shown -->
<h2> <%= @article.title %> </h2>
<<<<<<< HEAD
<p> <%= @article.content %> </p>

<!-- <a href='/edit'>Edit Post</a> -->
=======
<h2> <%= @article.content %> </h2>
>>>>>>> cf5917ec1093f97279d3805f91a58da081b9627f
