<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <h1>Name: <%=@post[:name]%></h1>
    <p>Content: <%=@post[:content]%></p>
  </body>
</html>
