<h2><%= @post.name %></h2>
<h3><%= @post.content %></h3>


<form action="/posts/<%= @post.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
