<h1>Your new blog post</h1>

<h2>Blog Name: <%= @post.name %></h2>
<p>Blog Content: <%= @post.content %></p>

<form action="/posts/<%= @post.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
