<p><a href="/">HOME</a> | <a href="/articles/<%= @article.id %>/edit">EDIT</a></p>
<form class="" action="/articles/<%= @article.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
  <input type="submit" name="" value="Delete">
</form>
