<h1>Post Name: <%= @post.name %></h1>
<p>Post Content: <%= @post.content %></p>

<div class="delete">
  <form  action="/posts/<%= @post.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
</div>
