<form method="POST" action="/posts/<%=@post.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<h2><%= @post.name %></h2>
<p><%= @post.content %></p>
<input type="submit" value="delete">
</form>