<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Show Page</h1>
<!-- 	<% post = Post.find_by(id: @id) %> -->
	<h2><%=@post.name%></h2>
	<h2><%=@post.content%></h2>

	<form method="post" action="/posts/<%= @post.id %>/delete">
  	  <input id="hidden" type="hidden" name="_method" value="delete">
  	  <input id="delete" type="submit" value="delete">
    </form>

</body>
</html>