<html>
  <head>
    <title>Show</title>
  </head>
  <body>
    <h1>Post <%= @post.id %></h1>
      <h2><%= @post.name %></h2>
      <p><%= @post.content %></p>
      <hr />
      <form method='POST' action='/posts/<%= @post.id %>/delete'> delete 
        <input type="hidden" id="hidden" name='_method' value='delete'> delete 
        <input type='submit' id='submit' value='delete'>
      </form>
  </body>
</html