<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1><%= @post.name %></h1>
    <div class="container">
      <p><%= @post.content %></p>
      <form method="post" action="/posts/<%= @post.id %>/delete">
        <input id="hidden" type="hidden" name ="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    </div>
  </body>
</html>
