<h1>Title: <%=Post.find(@post).name%></h1><br>
<h2>Content: <%=Post.find(@post).content%></h2>

<form method="post" action="/posts/<%=@post %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
