<h1> <%=@post.name%> </h1> <br>
<p> <%= @post.content%> </p> <br> <br>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input type="hidden" value="delete" name="_method" id="hidden">
  <input type="submit" value="delete">
</form>
