<h1>my post</h1>

<h2><%= @post.name %></h2>
<p><%= @post.content %></p>

<p><a href="/posts/<%= @post.id %>/edit">edit post</a></p>

<p>
  <form action="/posts/<%= @post.id %>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete post">
  </form>
</p>
