<!-- <!DOCTYPE html> -->
<!-- <html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body> -->
  <h1>These are your vanlife blogs</h1>

  <ul>
    <%@blogs.each do |blog| %>
    <li><a href="#"><%=blog.name%></a></li>
  </ul>
  <!-- </body>
</html> -->
