<%= @article.title%>
<%= @article.content%>
<form action="/articles/<%= @article.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete" id="hidden">
  <input type="submit" value="delete">
</form>
