<p><%= @post.name %></p>
<p><%= @post.content %></p>

<form action="/posts/<%= @post.id %>/delete" method="POST" accept-charset="utf-8">
  <input type="hidden" value="delete" name="_method" id="hidden"/>
  <input type="submit" value="delete"/>
</form>
