<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  Title:<%= @post.name %>
  <br>
  Content:<%= @post.content %>
  <form method="post" action="/posts/<%=@post.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete" id="submit">
  </form>
</body>
</html>