<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Show A blog Post</title>
 </head>
 <body>
 	<h1>Blog Post</h1>

	<div class="post">
	  <h3>Blog Name: <%= @post.name %></h3>
	  <h4>Blog Content: <%= @post.content %></h4><br>
	  <form action="/posts/<%= @post.id %>/delete" method="post">
	    <input id="hidden" type="hidden" name="_method" value="delete">
	  	<input type="submit" value="delete">
	  </form>
	</div>

 </body>
</html>
