  
<!DOCTYPE html>
<html>
  <body>
    <h1><%= @articles.title %></h1>
    <p><%= @articles.content %></p>
    <br />
    <form method="POST" action="/posts/<%= @articles.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>