<h1><%= @post.name %></h1>
<p><%= @post.content %></p>

<!-- delete button -->
<form action="/posts/<%= @post.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
