<h1> Blog <%=@id%> </h1>

<h5> <%=Post.find(@id).name%>   -- <%=Post.find(@id).content%> </h5>






<form method ="post" action ="/posts/<%=@id%>/delete">
<input type="hidden" id="hidden" name="_method" value="delete">
<input type ="submit" value="delete">
</form>

<form method = "get" action = "/">
<input type = "submit" value = "Go Home">
</form>