<!-- form that POSTs to a controller action -->

<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <%= @article.content %>
      <form action="/articles/<%= @article.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>