<h1><%= @post.name %></h1>
<%= @post.content %>

<form action="/posts/<%= @post.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
