<h3><%= @post.name %></h3>
<p><%= @post.content %></p>
<a href="/posts/<%=@post.id%>/edit">Edit</a>
<form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>