<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Title: <%= @post.name %></p><br>
    <p>Content: <%= @post.content %></p><br>

  <form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
  </form>
</body>
</html>
