<h1><%= @article.title %> </h1>
<p><%= @article.content %></p>
<form method="post" action="/articles/<%=@article.id%>">
  <input type="submit" value="Delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>
