<h1>Blog Post</h1>

  <h2>Post name: <%= @post.name %></h2>
 <h2>Post content: <%= @post.content %></h2>

 <form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" name="delete" id="delete">
</form>

