<h2><%=@article.title%></h2>
<h4><%=@article.content%></h4>
<br>
<br>
<form method = 'POST' action = '/articles/<%=@article.id%>'>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
