<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<form action="/articles/:id" method="post">
  <input type="submit" value="delete">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
</form>
