<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @post.name %></title>
  </head>
  <body>
    <h1><%= @post.name %></h1>
    <p><%= @post.content %></p>

    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <button type="submit" id="delete" name="delete" value="delete">Delete Post</button>
    </form>
  </body>
</html>
