<h1>Show Post: </h1>
<h2>Post Name: <%=  @post.name %></h2>
<h2>Post Conrtent: <%= @post.content %></h2>
<form method="post" action="/posts/<%= @post.id %>/delete">
   You want to delete the post?<br>
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
