<p>
<h2><%= @post.name %></h2>
<%= @post.content %>
</p>

<p>
<form action="/posts/<%= @post.id %>/delete" method="post">
<input id ="hidden" type="hidden" name="_method" value="delete">
<input type="submit" id="delete" name="delete" value="Delete">
</p>
