<h3><%=@post.name%></h3>
<h3><%=@post.content%></h3>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<p><a href="/posts/<%= @post.id %>/edit">Edit Post</a> <a href="/posts">Home</a></p>
