<p>Current Name: <%= @post.name %></p>
<p>Current Content: <%= @post.content %></p>
<form method="post" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
