<!DOCTYPE html>
<html>
<head>
  <title>
    
  </title>
</head>
<body>

  <% if @message %>
    <p><%= @message %></p>
  <% end %>
  
<h1>Your Selected Post!</h1>

  <p><%= @post.name %></p>
  <p><%= @post.content %></p>


<form method="post" action="/posts">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

</body>
</html>