<h1><%= @post.name %></h1>
<p><%= @post.content %></p>

<h2>Delete</h2>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" id="delete">
</form>
