<form method="post" action="/articles/<%= @article.id %>">
  <h1> <%= @article.title %> </h1>
  <h1> <%= @article.content %> </h1>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
