<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Posts</h1>
      <p>Id: <%= @post.id %></p>
      <p>Name: <%= @post.name %></p>
      <p>Content: <%= @post.content %></p>
  </body>
</html>
