<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @post.name %></title>
</head>
<body>
  <h1><%= @post.name %></h1>
  <p><%= @post.content %></p>
  <form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
  </form>
</body>
</html>