<html>
  <head>
    <meta charset="UTF-8">
    <title>Show</title>
  </head>
  <body>
    <h2>Post Title: <%= @post.name %></h2>
    <h2>Post Content: <%= @post.content %></h2>

    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input id="submit" type="submit" name="submit" value="delete">
    </form>
  </body>
</html>