<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Show</title>
  </head>
  <body>

<p>Title: <%= @post.name %></p>

<p>Body: <%= @post.content %></p>

<form method="POST" action="/posts/<%=@post.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
    </form>
  </body>
</html>