<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One Blog Post</title>
  </head>
  <body>
    <h2>One Post</h2>
    <p><strong><%= @post.name %></strong><br /><%= @post.content %></p>
    <form action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
