<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Article</title>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <h2>
    <p><%= @article.content %></p>
    </h2>

  </body>
</html>
