<form method="get" action="/posts/:id">
<h1>Name: <%= @post.name %></h1><br>
<h2>Content: <%= @post.content %></h2><br>
</form>

<form method="post" action="/posts/<%= @post.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type='submit' value='delete'>
</form>