<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Post Name: <%= @post.name %><br>
    Content: <%= @post.content %><br>
    <form class="" action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="delete" value="delete">
    </form>
  </body>
</html>
