<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <title>Articles</title>
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>

    <!-- <form method="POST" action="/articles/#{Article.last.id}"> -->
      <p>Title: <%= @article%></p>
      <!-- <p>Content: <input type="text" name="content"></p> -->

      <!-- <input type="submit"> -->
    </form>
  </body>

</html>



<!-- \n" to include "content content content content content" -->
