<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>POST</title>
  </head>
  <body>
    <h1> VIEW POST </h1><br>
    <h2><%= @post.name %></h2>
    <h4><%= @post.content %></h4>
    <form method="post" action="/posts/<%=@post.id%>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
  </html>
