<!DOCTYPE html>
<body>
  <h2><%= @post.name %></h2>
  <h3><%= @post.content %></h3>

  <form action="/posts/<%= @post.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="delete" value="delete">
  </form>

</body>
