<h1>Post Title: <%= @post.name %></h1>
<h4>Post Content: <%= @post.content %></h4>
<form action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
