<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  
    <%= @post.name %>
    <%= @post.content %>

    <form action="/posts/<%= @post.id %>/delete" method="POST">
      <input type="hidden" id="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  
</body>
</html>