<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dynamic Routes Post</title>
  </head>
  <body>
    <h1>Here is your post:</h1>
    <h3>Name:</h3>
    <p><%=@post[:name]%></p>
    <h3>Content:</h3>
    <p><%=@post[:content]%></p>
  </body>
</html>
