<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= @post.name %></h1>
	<p><%= @post.content %></p>
	<form action="/posts/<%=@post.id%>/delete" method="post">
		<input type="hidden" name="_method" id="hidden" value="delete">
		<input type="submit" name="delete" id="delete" value="delete">
	</form>
</body>
</html>