<!DOCTYPE HTML>
<html>
<header>All Posts</header>
<body>


<p><%= @post.name %></p>
<p><%=  @post.content %></p>
<br>

<%= "#{@post.name} was deleted" %>

<form action="/posts/<%= @post.id %>/delete" method="POST">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="delete">
</form>

</body>
</html>

