<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blogst</title>
</head>
<body>
  <h1>Welcome To BlogST!</h1>
  <h2>The blog so bloggy it needed ST</h2>

  <h4>Now you go on ahead and type anything in the box then hit enter, ya little table-top</h4>
    <form method="POST" action="/posts/new">
      <input type="text" name="title" >
      <input type="submit" value="submit" name="Enter"/>
    </form>  
</body>
</html>

